/* Space out content a bit for demo */
@font-face {
	font-family: Raleway-Regular;
	src: url(../fonts/Raleway.eot);
	src: url(../fonts/Raleway.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway.woff) format('woff'), url(../fonts/Raleway.ttf)
		format('truetype'), url(../fonts/Raleway.svg#latoregular)
		format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Raleway-Medium;
	src: url(../fonts/Raleway-Medium.eot);
	src: url(../fonts/Raleway-Medium.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway-Medium.woff) format('woff'),
		url(../fonts/Raleway-Medium.ttf) format('truetype'),
		url(../fonts/Raleway-Medium.svg#latobold) format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Raleway-Bold;
	src: url(../fonts/Raleway-Bold.eot);
	src: url(../fonts/Raleway-Bold.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway-Bold.woff) format('woff'),
		url(../fonts/Raleway-Bold.ttf) format('truetype'),
		url(../fonts/Raleway-Bold.svg#latobold) format('svg');
	font-weight: 400;
	font-style: normal;
}
/* Space out content a bit for demo ENDS */
.no_padding {
	padding: 0;
}

.page-details {
	padding: 15px 0;
}

.mtop {
	padding-top: 2%;
}

.marg_top {
	margin-top: 2.5%;
}

/* header section*/
.header_section {
	position: fixed;
	background: rgba(0, 88, 65, 0.85);
	z-index: 9999;
	width: 100%;
}

.desktop_logo {
	height: 100px;
	margin: 0 auto;
}

.navbar {
	min-height: auto;
}

.nav_section {
	padding: 26px 0;
}

.nav_part {
	margin: 10px 0 0;
	z-index: 9999;
}

.nav_section h1 {
	font-size: 1.5em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin: 5px 0;
}

.navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	padding: 16px 20px 0 0px;
	font-family: Lato-Medium;
	cursor: pointer;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background: none;
}

.navbar-toggle .icon-bar {
	background: #fff;
}

.navbar-toggle {
	border: 1px solid #fff;
}

.navbar-nav li:hover>.megamenu {
	display: block;
}

.headerone_text {
	padding: 30px 10px;
	z-index: 9999;
}
/* .headerone_text_part{
	list-style: none;
    display: block;
    padding: 0;
    text-align: center;
	float:right;
} */
ul.headerone_text_part li {
	display: inline-block;
	padding-right: 5px;
}

ul.headerone_text_part li a {
	display: block;
	font-size: 1em;
	padding: 0 5px;
	font-family: Lato-Medium;
}

ul.headerone_text_part li i {
	font-size: 1.2em;
	padding-right: 2px;
}

.form-wrapper input {
	width: 75%;
	padding: 3px 5px;
	border: 2px solid #fff;
}

.form-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 30px;
	width: 25%;
	color: #fff;
	text-transform: uppercase;
	background: #039e76;
}

.shop_cart i {
	font-size: 2em;
	color: #fff;
}

.shop_cart a {
	display: block;
}
/** Footer **/
/* footer */
.footer_row1 {
	background-color: rgba(0, 88, 65, 0.85);
	padding: 15px 0;
	/* min-height: 60px;	*/
}

.footerLine1 i, .footerLine1 .sign_uptext {
	color: #ffffff;
	font-size: 1.4em;
}

.news_letter {
	text-align: center;
	margin: 3px 0;
}

.footerLine1 .sign_uptext {
	font-weight: 500;
	margin-left: 2%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.footerLine1 {
	border-right: 1px solid #82b4ab;
}

.footerLine1 .form-wrapper input {
	padding: 8px 7px;
	width: 75% !important;
}

.footerLine1 .form-wrapper button {
	padding: 10px 7px;
	height: auto;
	font-size: 1em;
	width: 25% !important;
}

.social_links {
	display: table;
	width: 100%;
	margin-top: 2%;
}

.social_links li {
	display: table-cell;
	text-align: center;
	float: none;
	vertical-align: middle;
}

.social_links li a {
	line-height: 18px;
	color: #ffffff;
	font-size: 1.8em;
	line-height: 1.2;
}

.footer_row2 {
	background: #333;
}

.ft_title h3 {
	color: #fff;
	font-size: 1.1em;
	padding: 3% 0;
	position: relative;
}

.ft_title h3 i {
	padding-right: 8px;
}

.ft_title p {
	color: #949494
}

.footer_row3 li {
	display: inline-block;
	padding: 0 15px;
}

.footer_row3 li a {
	color: #ccc;
	font-size: 0.9em;
	text-decoration: none;
}

.footer_row3 li a:hover {
	
}

.footer_row3 li {
	border-left: 2px solid #666;
	padding: 0 15px;
}

.footer_row3 li:first-child {
	border-left: 0 !important;
	padding: 0 15px 0 29px;
}

.border_bottom {
	border-bottom: 1px solid #2b2b2b;
	margin: 12px 0;
}

.footer_row3 {
	text-align: center;
}

/*mega menu*/
.megamenu {
	display: none;
	z-index: 9999;
	background: #fff;
	position: absolute;
	top: 100%;
	left: -15%;
	padding: 20px;
}

.nav_menu li {
	position: static;
}

.menu_container {
	max-width: 178%;
	width: 178%;
}

.category, .sub_category {
	list-style: none;
}

.category>li {
	display: inline-block;
}

.category li span a {
	font-family: Lato-Black;
	color: #333;
	font-size: 1.2em;
	border-bottom: 2px solid #ddd;
}

.sub_category li a {
	color: #000;
	font-family: Lato-Regular;
	line-height: 2;
	transition: 0.2s ease;
	position: relative;
}

.sub_category li a i {
	position: absolute;
	bottom: 2px;
	left: 0;
	color: #333;
	font-size: 10px;
	opacity: 0;
	transition: 0.3s ease;
}

.sub_category li a:hover {
	padding-left: 10px;
	font-family: Lato-Regular;
	text-decoration: none;
	color: rgba(0, 88, 65, 0.85);
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.sub_category li a:hover .fa-chevron-right {
	opacity: 1;
}
/* collapse menu */
.collapse_menu {
	z-index: 9000;
	background: #333;
	padding: 5px 20px;
}

.list-group-item {
	padding: 0;
	background-color: #26705d;
	border: 1px solid rgba(221, 221, 221, 0.3);
}

.list-group-item span {
	padding: 10px;
	display: block;
}

.list-group-item span a {
	display: block;
	color: #fff;
	font-family: Lato-Black;
}

.list-group-item span a:hover, .sub_category_mobile li a:hover {
	text-decoration: none;
	color: #fff;
}

.sub_category_mobile {
	background: #333;
	padding: 0 10px;
}

.sub_category_mobile li {
	padding: 5px 0;
}

.sub_category_mobile li a {
	color: #fff;
}
/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 1s;
	font-weight: 700;
	font-size: 4em;
}

.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
	font-size: 1.5em;
}

.carousel-control, .carousel-control:hover {
	background-image: none !important;
}

.carousel-control.left span.fa, .carousel-control.right span.fa {
	background: rgba(0, 0, 0, 0.5);
}

.carousel-control.right span.fa {
	height: 65px;
	width: 35px;
	border-top-left-radius: 65px;
	border-bottom-left-radius: 65px;
	right: 0 !important;
	position: absolute;
	top: 50%;
	margin-top: -32.5px;
	padding-top: 20px;
	padding-left: 9px;
	text-align: center;
}

.carousel-control.left span.fa {
	height: 65px;
	width: 35px;
	border-top-right-radius: 65px;
	border-bottom-right-radius: 65px;
	left: 0 !important;
	position: absolute;
	top: 50%;
	margin-top: -32.5px;
	padding-top: 20px;
	padding-right: 9px;
	text-align: center;
}

.carousel-inner>.item>img {
	width: 100%;
}

.carousel-caption {
	bottom: 40%;
}

.blog-title a, .category a {
	text-decoration: none;
	color: #000;
}

.footer_cnt li  a, .footer_text, ul.headerone_text_part li a {
	color: #fff;
	text-decoration: none;
}

.page-details__breadcrumb {
	background-color: rgba(231, 231, 231, 0.33);
	padding: 10px;
	margin-bottom: 5px;
	font-size: 18px;
	font-size: 1.2rem;
	font-family: Raleway-Medium;
	text-transform: capitalize;
}

.page-details__breadcrumb li {
	color: #000;
}

.page-details__breadcrumb li+li:before {
	content: '>';
	color: #000;
	padding: 0 10px;
}

.page-details__breadcrumb li a {
	color: #000;
	text-decoration: underline;
}

.page-details__back {
	font-size: 12px;
	font-size: 1.2rem;
}

.page-details__back a {
	color: #005841;
	font-weight: 600;
	text-decoration: underline;
	text-transform: capitalize;
}

.page-details__heading {
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
	font-size: 2.5rem;
	font-family: Lato-Black;
	text-transform: capitalize;
}

.js-sort-options-block form label {
	color: #fea733;
}

@media ( max-width : 767px) {
	.page-details__heading {
		font-size: 18px;
		font-size: 1.8rem;
	}
}

.product-facets {
	/* background: rgba(221, 221, 221, 0.32); */
	padding-right: 4% !important;
}

}
@media ( max-width : 767px) {
	.product-facets {
		display: none;
		width: 96%;
		margin: 0 2%;
	}
}

.product-facets__category {
	padding: 5px;
}

.product-facets__category h3 {
	font-size: 20px;
	position: relative;
	font-size: 1.8rem;
	font-weight: 600;
	cursor: pointer;
	font-family: Lato-Medium;
	text-transform: capitalize;
}

.product-facets__category h3.is-collapsible:after {
	content: "\e114";
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 50%;
	right: 5px;
	font-size: 16px;
	margin-top: -8px;
}

.product-facets__category h3.is-collapsible.collapsed:after {
	content: "\e113";
}

.product-facets__category--links li {
	margin-bottom: 5px;
	border-bottom: 1px solid #d5d5d5;
}

.product-facets__category--links a {
	color: #000000;
	display: block;
	padding: 5px 0;
}

#facet-series li, #facet-price li {
	padding: 5px 0;
	border-bottom: 1px solid #d5d5d5;
}

.product-facets__category--links a:hover {
	text-decoration: none;
}

@media ( min-width : 992px) {
	.product-listing-container {
		padding-left: 0;
	}
}

.sort-options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	padding: 15px 0;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.sort-options>div {
	margin-bottom: 10px;
}

@media ( min-width : 768px) {
	.sort-options {
		background: #333;
	}
	.sort-options>div {
		margin-bottom: 0;
	}
}

@media ( max-width : 767px) {
	.sort-options__sort-by, .sort-options__per-page {
		display: none;
	}
}

.sort-options__sort-by .select {
	width: 70%;
}

.sort-options__per-page .select {
	width: 30%;
}

.sort-options__pagination {
	text-align: right;
}

@media ( min-width : 768px) and (max-width: 991px) {
	.sort-options__pagination {
		margin-top: 10px;
	}
}

.sort-options__pagination ul {
	margin-bottom: 0;
}

.sort-options__pagination ul li {
	padding: 0;
}

.sort-options__pagination ul li a {
	color: #fea733;
	padding: 1px 3px;
	text-decoration: none;
	border-radius: 3px;
}

.sort-options__pagination ul li a.active {
	color: #fff;
	text-decoration: underline;
}

.sort-options__pagination ul li a:hover, .sort-options__pagination ul li a:active
	{
	background-color: #64a70b;
	color: #FFFFFF;
}

.sort-options__pagination .btn-link {
	padding: 0;
	color: #fea733;
	margin: 0 5px;
}

.btn-ctc-custom {
	min-width: 200px;
	border-radius: 0;
	background-color: #969696;
	margin-bottom: 5px;
	color: #FFFFFF;
	font-weight: 600;
	text-transform: uppercase;
}

.product-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.product-list {
	margin: 0;
}

.product-list__item {
	position: relative;
	padding: 1.5%;
	padding-bottom: 60px;
}

@media ( max-width : 639px) {
	.product-list__item {
		width: 100%;
	}
}

@media ( min-width : 640px) and (max-width: 991px) {
	.product-list__item {
		width: 48%;
	}
}

.product-list__item a {
	text-decoration: none;
	color: #000;
}

.product-list__item a:hover .product-list__item__product-name,
	.product-list__item a:active .product-list__item__product-name {
	color: rgba(100, 167, 11, 0.5);
}

.product-list__item__image-block {
	position: relative;
	margin-bottom: 10px;
	height: 250px;
	min-height: 250px;
}

.product-list__item__image-block .brand-logo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90px;
}

.wishlist i {
	position: absolute;
	top: 0;
	right: 0;
	color: #fea733;
	transition: 0.3s ease-in-out;
}

.wishlist:hover i {
	font-size: 24px;
	color: #333;
}

.product-list li:nth-of-type(3) {
	border-right: 0;
}

.product-list__item {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.product-list__item__product-name {
	font-size: 18px;
	font-size: 1.6rem;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 600;
	height: 50px;
	min-height: 50px;
}

.product-list__item__product-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-transform: capitalize;
	margin-bottom: 5px;
}

.product-list__item__product-price span {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	margin-left: auto;
	color: #63a51e;
}

.product-list .product-buying-options .btn--add-to-cart {
	position: absolute;
	bottom: 10px;
	width: 90%;
	background-color: #333;
	text-transform: capitalize;
	color: #fea733;
	border-radius: 0;
	text-align: center;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	font-size: 1.5rem;
}

.product-list .product-buying-options .btn--add-to-cart .glyphicon {
	font-size: 1.6rem;
	font-size: 16px;
	margin-right: 5px;
}

.ratings_product li {
	color: #ffa300;
	display: inline-block;
}

.product-list .product-buying-options .btn--add-to-cart:hover,
	.product-list .product-buying-options .btn--add-to-cart:active {
	background-color: #fea733;
	transition: all ease-in 0.3s;
	-moz-transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	color: #333;
}

.checkbox-custom, .radio-custom {
	opacity: 0;
	position: absolute;
}

.swatch li, .size li, .social_media li {
	display: inline-block;
}

.swatch li a, .size li a, .social_media li a {
	display: block;
	cursor: pointer;
}

.size li a {
	color: #333;
	text-transform: uppercase;
	padding: 5px 10px;
	border: 2px solid #333;
}

.size li a:hover {
	text-decoration: none;
	color: #039e76;
	border-color: #039e76;
}

.social_media li a {
	color: #333;
	padding: 10px 15px;
	font-size: 20px;
	background: rgba(254, 167, 51, 0.54);
	transition: 0.1s ease-in-out;
}

.b-goods-3__price-old {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	color: #a8aaab;
	text-decoration: line-through;
	margin-right: 23px;
}

.b-goods-3__price {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
}

.ratings_product li {
	color: #ffa300;
}

.border_bottom {
	border-bottom: 1px solid rgba(213, 213, 213, 0.57);
}

.qtybutton {
	background: transparent;
	border: 1px solid #333;
	padding: 5px 12px;
}

.quantity {
	text-align: center;
}

.form-goods .btn {
	margin-top: 10px;
	padding: 10px;
	vertical-align: middle;
	background-color: #333;
	text-transform: capitalize;
	border: 0;
	border-radius: 0;
	color: #fea733;
	width: 100%;
}

.wishlist_pdp span {
	display: block;
}

.wishlist_pdp span a {
	display: block;
	text-align: center;
	margin-top: 20px;
	color: #333;
	font-family: Lato-Medium;
}

.wishlist_pdp span a:hover {
	text-decoration: none;
	color: #26705d;
}

.wishlist_pdp span a i {
	color: #fea733;
	padding-left: 10px;
}

.wishlist span a:hover .wishlist span a i {
	color: #333;
}

.wishlist span a i {
	padding-left: 5px;
	color: #26705d;
}

.social_media {
	margin: 10px 0;
}

.pdp_tab {
	display: block;
	margin-top: 24px;
	margin-bottom: 30px;
	border-bottom: 1px solid #dddddd;
}

.pdp_tab>li.active>a, .pdp_tab>li.active>a:hover, .pdp_tab>li.active>a:focus,
	.pdp_tab>li>a:hover {
	border-bottom-color: #fea733;
	border-width: 0 0 2px 0;
	color: #1c1f23;
}

.pdp_tab>li>a {
	border-width: 0 0 1px 0;
	border-bottom-color: #dddddd;
	padding: 10px 15px 20px 15px;
	font-weight: 600;
	color: #7b7d7f;
	font-size: 1.0em;
	text-align: center;
}

.b-goods-3__description {
	/*  margin-top: 22px; */
	margin-bottom: 23px;
	/* height: 60px; */
	overflow: hidden;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom,
	.radio-custom-label {
	display: inline-block;
	vertical-align: middle;
	margin: 5px 0;
	cursor: pointer;
	font-weight: 500;
}

.checkbox-custom-label, .radio-custom-label {
	position: relative;
}

.checkbox-custom+.checkbox-custom-label:before, .radio-custom+.radio-custom-label:before
	{
	content: '';
	background: #FFFFFF;
	border: 2px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 1px;
	margin-right: 10px;
	font-size: 10px;
	text-align: center;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
	content: "\e013";
	font-family: 'Glyphicons Halflings';
	background: #26705D;
	color: #FFFFFF;
}

.radio-custom+.radio-custom-label:before {
	border-radius: 50%;
}

.select {
	position: relative;
	display: inline-block;
}

.select select {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 5px 15px;
	margin-left: 5px;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: #E6E6E6;
	color: #7B7B7B;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select select::-ms-expand {
	display: none;
}

.select select:hover, .select select:focus {
	color: #000000;
	background: #CCCCCC;
}

.select select:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.select .select__arrow {
	position: absolute;
	top: 12px;
	right: 5px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #7B7B7B transparent transparent transparent;
}

.select select:hover ~ .select .select select:focus ~ .select {
	border-top-color: #000000;
}

.select select:disabled ~ .select {
	border-top-color: #CCCCCC;
}

.product__image-banner {
	position: relative;
	margin: 0 0 3%;
	text-align: center;
}

@media ( min-width : 992px) {
	.no_padding_right_btn {
		padding-right: 0;
	}
	.no_padding_left_btn {
		padding-left: 0;
	}
}

@media ( max-width : 767px) {
	.product__image-banner {
		margin-top: 4%;
	}
}

.product__image-banner figcaption {
	position: absolute;
	top: 50%;
	width: 100%;
	font-size: 5rem;
	font-size: 50px;
	margin-top: -2.5rem;
	margin-top: -25px;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 1px 2px #404040;
}

@media ( max-width : 991px) {
	.product__image-banner figcaption {
		font-size: 3rem;
		font-size: 30px;
		margin-top: -1.5rem;
		margin-top: -15px;
		font-weight: 600;
	}
}

@media ( max-width : 480px) {
	.product__image-banner figcaption {
		font-size: 2rem;
		font-size: 20px;
		margin-top: -1rem;
		margin-top: -10px;
		font-weight: 600;
	}
}

.pagination-btn {
	color: #fea733;
}

.pagination-btn:hover, .pagination-btn:focus {
	color: #CCCCCC;
}

.add2cart_header {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 15px;
}

.noresult_search {
	font-weight: bold;
}

/*Added class for store locator model*/
.main {
	margin-bottom: 70px;
}

hr {
	width: 100%;
	color: #1b1919;
	border-top: 1px solid;
}

.form-group {
	margin-bottom: 15px;
}

.main-login {
	background-color: #e6f0f2;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
	margin-top: 30px;
	max-width: 350px;
	padding: 20px 40px;
}

#map {
	height: 400px;
	width: 100%;
	margin-bottom: 70px;
}

.scroll-display {
	max-height: 300px;
	overflow-y: auto;
	text-transform: capitalize;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	margin-top: 0px;
	max-width: 350px;
	padding: 0px 40px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}
/*class for store details model*/

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Add a background color and some padding to the footer */
footer {
	background-color: #101010;
	padding: 25px;
}

.store-result {
	padding-bottom: 2px;
	margin-left : -30px;
	font-weight: bold;
	font-size: 17px;
}

.radio-btn {
	margin-left: 55px;
	padding-top: 5px;
}
.lbl-text{
	margin-left : -95px;
	padding-right : 10px;
	margin-top : 2px;
}
.store-list{
	color : black;
}