body {
	font-family: "Raleway-Regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

@font-face {
	font-family: Lato-Black;
	src: url(../fonts/Lato-Black.eot);
	src: url(../fonts/Lato-Black.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Lato-Black.woff) format('woff'),
		url(../fonts/Lato-Black.ttf) format('truetype'),
		url(../fonts/Lato-Black.svg#latoregular) format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato-Light;
	src: url(../fonts/Lato-Light.eot);
	src: url(../fonts/Lato-Light.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Lato-Light.woff) format('woff'),
		url(../fonts/Lato-Light.ttf) format('truetype'),
		url(../fonts/Lato-Light.svg#latobold) format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato-Medium;
	src: url(../fonts/Lato-Medium.eot);
	src: url(../fonts/Lato-Medium.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Lato-Medium.woff) format('woff'),
		url(../fonts/Lato-Medium.ttf) format('truetype'),
		url(../fonts/Lato-Medium.svg#latobold) format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato-Regular;
	src: url(../fonts/Lato-Regular.eot);
	src: url(../fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Lato-Regular.woff) format('woff'),
		url(../fonts/Lato-Regular.ttf) format('truetype'),
		url(../fonts/Lato-Regular.svg#latobold) format('svg');
	font-weight: 400;
	font-style: normal;
}

.no_margin {
	margin: 0;
}

.mbtm {
	margin-bottom: 30px;
}

.mtop {
	margin-top: 20px;
}

.no_padding {
	padding: 0;
}

.margin_top {
	margin-top: 2%;
}

.margin_btm {
	margin-bottom: 2%;
}

input {
	outline: none;
}

.no_padding {
	padding: 0;
}
/* food styles */
.slotMargin {
	margin-top: 3%;
	margin-bottom: 3%;
}

#videoTag iframe {
	display: block !important;
	position: relative;
	height: 200px;
	max-width: 100%;
	border: 0;
}
/* food styles */
/*Mega menu style */
.mega-dropdown {
	position: static !important;
}

.megamenu_nav .navbar-nav>li>a:hover {
	color: #000;
	background-color: transparent;
}

.megamenu_nav .navbar-nav>.open>a, .megamenu_nav .navbar-nav>.open>a:hover,
	.megamenu_nav .navbar-nav>.open>a:focus, .megamenu_nav .navbar-nav>li>a:focus
	{
	color: #fff;
	background-color: #080808;
}

.megamenu_nav {
	background-color: #fff;
	border: 0;
}

.mega-dropdown-menu {
	padding: 15px 0px;
	width: 100%;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.megamenu_nav .navbar-collapse {
	padding-left: 0;
}

.mega-dropdown-menu>li>ul {
	padding: 0;
	margin: 0;
}

.mega-dropdown-menu>li>ul>li {
	list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
	display: block;
	color: #222;
	padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover, .mega-dropdown-menu>li ul>li>a:focus
	{
	text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
	font-size: 18px;
	color: #ff3546;
	padding: 5px 60px 5px 5px !important;
	line-height: 30px;
}

/*Mega menu style */
/*font classes*/
.lato_black {
	font-family: Lato-Black;
}

.lato_light {
	font-family: Lato-Light;
}

.lato_reg {
	font-family: Lato-Regular;
}

.lato_med {
	font-family: Lato-Medium;
}

.headerrow1 {
	background: #88be4c;
}
/* top header styles */
.motto_sec {
	margin-top: 20px;
}

.accnt_list li, .login_list li {
	display: inline-block;
}

.location {
	padding: 10px 0;
}

.location span, .accnt_list li a {
	display: block;
	color: Black;
	padding: 10px;
	text-transform: uppercase;
}

.accnt_list li a:hover, .login_list li a:hover {
	text-decoration: none;
}
/* main header */
.mob_logo {
	margin: 15px auto;
}

.login_sec {
	border-right: 1px solid rgba(238, 238, 238, 0.52);
}

.login_list li a {
	display: block;
	color: rgba(0, 0, 0, 0.66);
	text-transform: capitalize;
	font-size: 0.9em;
	padding: 31px 0;
}

.details_list li, .login_list li {
	display: inline-block;
}

.details_list li a {
	display: block;
	padding: 10px;
	font-size: 1.2em;
	color: #000;
}

.details_list li a i {
	color: #000;
}

.logo img {
	height: 50px;
	margin: 0 auto;
}

/* nav bar styles */
.nav_list li a {
	font-size: 0.9em;
	display: block;
	color: #000;
	text-transform: uppercase;
	padding: 10px;
}

.nav_list li a:hover {
	background: none;
}

.navbar-toggle .icon-bar {
	background: #fff;
}

.navbar-toggle {
	background: #000;
	float: left;
	left: 25px;
	margin: 19px 0;
}

.navbar-nav {
	margin: 0;
}

.nav_list_mob {
	background: #333;
}

.nav_list_mob li {
	border-bottom: 1px solid rgba(238, 238, 238, 0.16);
}

.nav_list_mob li a {
	color: #fff;
}

.nav_list_mob li a:hover, .nav_list_mob  li  a:focus {
	text-decoration: none;
	background: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
	background: none;
}
/* search box small */
.form-wrapper input {
	width: 75%;
	padding: 10px 5px;
}

.form-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 44px;
	width: 25%;
	color: #fff;
	text-transform: uppercase;
	background: #039e76;
}
/** CArousel Items **/
.carousel-inner  .item {
	position: relative;
	display: none;
	-webkit-transition: .6s ease-in-out left;
	-o-transition: .6s ease-in-out left;
	transition: .6s ease-in-out left;
}

.carousel-inner  .item>img, .carousel-inner  .item>a>img {
	line-height: 1;
}

@media all and (transform-3d) , ( -webkit-transform-3d ) {
	.carousel-inner  .item {
		-webkit-transition: -webkit-transform .6s ease-in-out;
		-o-transition: -o-transform .6s ease-in-out;
		transition: transform .6s ease-in-out;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000px;
		perspective: 1000px;
	}
	.carousel-inner  .item.next, .carousel-inner  .item.active.right {
		left: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	.carousel-inner  .item.prev, .carousel-inner  .item.active.left {
		left: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	.carousel-inner  .item.next.left, .carousel-inner  .item.prev.right,
		.carousel-inner  .item.active {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.carousel-inner  .active, .carousel-inner  .next, .carousel-inner  .prev
	{
	display: block;
}

.carousel-inner  .active {
	left: 0;
}

.carousel-inner  .next, .carousel-inner  .prev {
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-inner  .next {
	left: 100%;
}

.carousel-inner  .prev {
	left: -100%;
}

.carousel-inner  .next.left, .carousel-inner  .prev.right {
	left: 0;
}

.carousel-inner  .active.left {
	left: -100%;
}

.carousel-inner .active.right {
	left: 100%;
}

/* media queries */
@media ( max-width : 1200px) and (min-width:992px) {
	.nav_list li a {
		font-size: 0.7em;
	}
}

@media ( max-width : 992px) {
	.navbar-toggle {
		display: block;
	}
	.navbar-nav>li {
		float: none;
	}
	.details_list li a {
		padding: 27px 5px;
	}
	.details_list li:first-child {
		display: none;
	}
}

@media ( max-width : 400px) {
	.details_list li a {
		font-size: 0.8em;
	}
}

@media ( min-width : 1200px) {
	.container {
		/* width: 1170px; */
		width: 1230px;
	}
}