@import url("font-awesome.min.css");
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Roboto-Regular.woff') format('woff'), 
       url('../fonts/Roboto-Regular.ttf')  format('truetype'), 
       url('../fonts/Roboto-Regular.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.eot'); 
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Roboto-Medium.woff') format('woff'), 
       url('../fonts/Roboto-Medium.ttf')  format('truetype'),
       url('../fonts/Roboto-Medium.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Font Awesome';
  src: url('../fonts/FontAwesome.eot'); 
  src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/FontAwesome.woff') format('woff'), 
       url('../fonts/FontAwesome.woff2') format('woff2'), 
       url('../fonts/FontAwesome.ttf')  format('truetype'),
       url('../fonts/FontAwesome.svg#svgFontName') format('svg');
}
body{
	background: #f5f5f5;	
}
.blog_postbg{
	padding-top: 2% !important;
    background: #fff;
}
 /* product substitution managemnet styles */
/* styles for alt popup */
.alt_modal{
	width:17%;
    margin: 1% 2%;
}
.alt_radio{
    position: position;
  }
.alt_modal a{
    display: block;
    margin-bottom: 10%;
    width: 80%;
}
.alt_radio span{
    display: inline-block;
    width: 100%;
    margin-left: 14%;
}
.alt_radio input{
    position: absolute;
}
.alt_orderdetails td{
	border-bottom:none !important;
}
.alt_orderdetails img{
	border: 1px solid rgba(204, 204, 204, 0.52);
}
.alt_submit{
	background: #88be4c linear-gradient(to bottom,transparent,rgba(2,51,4,0.1));
    padding: 5px 10px;
    border: 1px solid #88be4c;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff !important;
    text-decoration: none;
    text-transform: uppercase;
    cursor:pointer;
}
.popup_link{
    color: rgba(107, 191, 13, 0.94);
    text-decoration: underline;
	
}
#imgfade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);

}
.imgpop_wr{
position: fixed;
    margin: auto;
    z-index: 9998;
    display: none;
    filter: alpha(opacity=25);
    -khtml-opacity: 0.25;
    -moz-opacity: 0.25;
    margin: 0 auto;
    width: 50%;
    background: #fff;
    top: 25%;
    left: 25%;
    background:#fff;
} 
/* styles for alt popup */
.button_primary{
	background-image: none;
    background: #88be4c;
}
.button_secondary,.button_secondary .button_text{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9f9), to(#e5e8e9));
    background-image: linear-gradient(#f7f9f9, #e5e8e9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#e5e8e9')";
	color: #4d4d4d !important;
}
.cartcheckbox {
	display: inline-block;
	margin: 8px 5px 8px 0;
	position: relative;
}
.cartcheckbox input[type=checkbox] {
    visibility: hidden;
}
.cartcheckbox label {
    cursor: pointer;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    border-radius: 4px;

	-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #ffffff 0%, #e6eee9 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #e6eee9 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #e6eee9 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #e6eee9 100%);
	background: linear-gradient(top, #ffffff 0%, #e6eee9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6eee9',GradientType=0 );
}

.cartcheckbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
    left: 3px;
    border: 3px solid #88be4c;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.cartcheckbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.cartcheckbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
/* product substitution managemnet styles */

#homeHero1-background,#homeHero2-background ,#homeHero3-background  {
	top:0;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}


/* Recipe styles */

/* -----------------------------------------------------------------------------*/
/* 34.Recipe
/* -----------------------------------------------------------------------------*/
.widget_recipe_container .productListingWidget{
	background:none;
}
.widget_recipe_container .product_listing_container{
	margin-top: 1%;
    background: #fff;
}
.deals_title,.widget_recipe_container .productListingWidget #countdown{
background: rgba(202, 213, 189, 0.61);	
}

.deals_title h1{
	text-align: center;
    color: #1b3002;
    font-size: 25px !important;
	padding-top: 1%;
}
.carousel > .content > ul > li.hidden {
	visibility:visible;
} 
.plp_grid{
	position:relative;
	margin-top:1%;
}
#quickLinksBar>li>a:hover{
	text-decoration:none;
}
#quickLinksBar>li>a:before{
	font-family:FontAwesome;
	padding-right:5px;	
	color:#fff;
}
#wishListQuickLink_alt:before{
	content:"\f08a";
}
#storeLocatorQuickLink_alt:before{
	content:"\f041";
}
#Header_GlobalLogin_signInQuickLink:before{
	content:"\f007"
}
#LanguageCurrencyChangeLink_alt:before{
	content:"\f1ab"; 
}
#quickLinksButton:before{
	content:"\f0c1"; 
}
#RecipeQuickLink_alt:before{
	content: "\F0F5";
}
#countdown {
    color: #b72f5d;
	/*background-color: #fff;*/
	font-size:1.5em;
	font-family: sans-serif;
    font-weight: bold;
    padding: 0.6em;
    text-align: center;
}
#countdown:before{
    content: "\f017 ";
    font-family: FontAwesome;
    font-size: 0.9em;
    padding-right: 5px;	
}
.countDown_home>#countdown
{
	margin-bottom: 11%;
}
.dealsLink{
    padding: 5px 20px;
    text-align: center;
    border: 2px solid #88be4c;
    border-radius: 3px;
    text-transform: capitalize;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    display: block;
    max-width: 50%;
    margin-top: 6%;
}
.countDown_home{
   /* width: 20%;*/
    box-sizing: border-box;
	    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
.dealsCaption{
	font-size: 26px;
	text-align:center;
}
.deals_widget{
/*    width: 80%;*/
}
 .branddep{
	display:none;
    position: absolute;
    left: 2px;
    top: 100%;
    width: 360px;
    margin: 0;
    padding: 0 16px;
    background-color: #ffffff;
    border: 1px solid #c9cece;
    border-top: 3px solid #88be4c;
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    list-style: none;
} 
a.shopBrand{
position:relative;
}
.shopBrand:hover .branddep{
	display:block !important;
}
.deals_container {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding: 0;
}
.deals_widget>.catalogEntryRecommendationWidget {
	    margin-bottom: 0;
}
.deals_widget>.carousel.background-true{
	background-image:none;
	padding:0;
}
.countDown_deals{
	
}
.product{
    position: relative;
    padding-top: 5% !important;
}
.product>.product_info>.ribbon_promo {
    position: absolute;
    left: 5px;
    top: 8px;
    z-index: 1;
    overflow: hidden;
    width: 66px;
    height: 75px;
    text-align: right;
}
.product>.product_info>.ribbon_promo span {
	font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 26px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 11px;
    right: -13px;
    background: linear-gradient(#fc2a71 0%, #870631 100%);
}
.product>.product_info>.ribbon_promo span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 40%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.product>.product_info>.ribbon_promo span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.product_discount {
    font-size: 16px !important;
}
.product_price_dis{
	margin-bottom:5%;
}
.product_price_dis>.product_price_list{
	display: inline-block;
    margin-right: 4%;
    text-decoration: line-through;
    font-weight: 600;
    font-size: 14px;
    color: #777777;
}
.product_price_dis>.product_price_offer{
	display: inline-block;
    color: red;
    font-weight: bold;
    font-size: 16px;
}
.discount_wr{
	    display: inline-block;
    margin: 5px 0;
}
.discount_wr>span,.discount_wr>img{
	float:left;
}
.coupon_code{
	    width: 100%;
    margin-top: 12px;
}
.coupon_code>.info_icon{
	margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}
.recipe_head>div>img{
	height:10%;
}
.coupon_code>.info_icon img,.coupon_code>p>a img,.coupon_code>p>a span{
    float: left;
    display: inline-block;	
}
.multi_search_width{
	width:25% !important;
}
.ribbon_add_wr{
	position:absolute;
	width:20%;
	top: 0;
    right: 0;
}
.ribbon_add_wr>li{
    display: inline-block;  
}
 .ribbon_add_wr>li:nth-last-child(1):nth-child(odd){
	float:left;
	margin-left:6px;
	margin-top:4px;	
} 
.icons_wrapper .ribbon_add{ 
	text-align: center !important;
    color: #fff;
    width: 15px !important;
    height: 15px !important;
    line-height: 15px !important;
    font-weight: bold;
    padding: 0 !important;
    vertical-align: middle;
    font-size: 11px !important;
    list-style-type: none;
}
.PeanutFree{
  	/*right: 2% !important;
  	top: 2% !important;*/
  	background: green!important;
}
.GlutenFree{
   /* right: 11% !important;
    top: 2% !important;*/
    background: #d9b500 !important;
}
.LactoseFree{
   /* right: 11% !important;
    top: 11% !important;*/
    background: #8cc2de !important;
}
.SugarFree{
    /*right: 2% !important;
    top: 11% !important;*/
    background: rgba(218, 48, 109, 0.68) !important;
}
.organic{
   /* right: 2% !important;
    top: 20% !important;*/
    background:orange!important;
}
.vegetarian{
   /* right: 11% !important;
    top: 20% !important;*/
    background: #88be4c!important;
}
.WheatFree{
   /* right: 2% !important;
    top: 20% !important;*/
    background: #d89c4e !important;
}
.organic:before{
	content: 'O';
}
.vegetarian:before{
	content: 'V';
}
.PeanutFree:before{
	content: 'P';
}
.GlutenFree:before{
  	content: 'G';
}
.LactoseFree:before{
  	content: 'L';
}
.SugarFree:before{
  	content: 'S';
}
.WheatFree:before{
  	content: 'W';
} 
.ingredients_video{
    box-sizing: border-box;
    padding: 0 4px;
}
.ingredients_video>iframe{
	border-radius:5px;
	width:100%;
	height:200px;
}
.brands_nav:before{
	content: none !important;
}
ul.ingredients_lists>li>label>a>span{
	word-wrap: break-word;
}
.homeHero{
	min-height:350px !important;
}
.msg_heading{
	position:relative;
}
.login_msg{
    width: 50%;
    position: absolute;
    right: 0;
     top: 6px;
    text-align: right;
    font-weight: 600;
    font-size: 0.9em;
    color: #7ebd38;
}
.login_msg>a{
    color: #4d860f;
    text-decoration: underline;
}

.recipe_head img{
	max-width:100%;
	margin:0 auto;
	display:block;
}
.recipe_head{
	margin-bottom:2%;
}
.recipe_time,.recipe_difficulty{
	float:left;
}
.recipe_time>div,.recipe_difficulty>div{
	display:inline-block;
}
.desc_recipe{
	padding:0 10px;
	box-sizing: border-box;
}
.Recipe_area {
    border-top:solid 1px #c6d0dc;
    padding-top:10px;
    margin: 0;
}
.Recipe_label_1 {
    height:35px;
    padding-left:5px;
    font-size:25px;
    color: #343434;
}
.Recipe_label_2 {
    height:30px;
    padding-left:5px;
    font-size:20px !important;
    color: #343434;
    /*border-bottom: 1px solid #ccc;*/
}
.Recipe_label_3 {
    height:25px;
    padding-left:5px;
    font-size:20px;
    }
.Recipe_content_1 {
    height:18px;
    font-size:0.6em !important;
	color:#808080 !important;
	padding-left:0 !important;
}
.ingredients_img img{
	margin:0 auto;
}
.recipe_table td{
	font-size:17px !important;
	padding:5px !important;
}
.recipe_table{
	padding-left:10%;
	margin-top:2%;
}
.Recipe_content_longdescription {
    height:40px;
    padding:5px;
    font-size:17px;
}
.instruction_section{
	    margin: 2% 0;
}
#wc_recipe_shortDescription_content{
	padding:5px !important;
}


/* recipe 26-7*/
.login_msg>a:before {
    content: "\f007";
    font-family: FontAwesome;
    padding-right: 3px;
}
.shop_by_brand>div{
	display:none;
}
.shop_by_brand>.Fruits{
	display:block;
}
.shop_by_brand>div>.brand_menu>li{
	width:20% !important;
}
.shop_navlist_active{
    border-left: 4px solid #88be4c !important;
    background: #88be4c;
    color: #fff;
    cursor:pointer;
	position:relative;
}
.shop_navlist_active:after{
	content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -13px;
    z-index: 3;
	border-bottom: 23px solid transparent;
    border-left: 14px solid #88be4c;
    border-top: 23px solid transparent
}
.shop_navlist_active:hover:after{
	border-bottom: 23px solid transparent;
    border-left: 14px solid #88be4c;
    border-top: 23px solid transparent
}
.recipe_head{
	background: #fff;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.16),0 2px 1px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
}
.recipe_head>div>img{
	border-radius:4px;
}
.recipe_desc_title{
	font-size: 0.75em;
    color: #88be4c;
}
/*.recipe_desc_title:before{
content:"";
display:inline-block;
	background: url(../images/recipe/recipe_icon.png) no-repeat;
}*/
.recipe_longdesc{
    padding: 10px;
    font-size: 0.69em;
    color: #808080;
}
.recipe_content_wr{
	/* background:#f5f5f5 !important; */
/* 	margin-top:5%; */
	margin-bottom:7%;
}
.recipe_lists{
	position:relative;
	margin-left: 3%;
    margin-right: 3%;
    border:3px solid #be4c54;
	-webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.recipe_title_wr{
    border-bottom: 1px dashed #999;
    border-top: 1px dashed #999;
    padding: 5px 2px;
    font-size: 1.1em;
    letter-spacing: 0.01em;
}
.recipe_sub_cat, .recipe_sub_cat:hover {
    outline: 0;
    color: #6BA72B;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.recipe_sub_cat {
	position:relative;
    line-height: 50px;
    display: block;
    overflow: hidden;
    /* background: #fff; */
    background: #E6E2D6;
    color: #676767;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    border-radius: 3px;
}
.recipe_sub_cat:after{
	content:"\f077";
	font-family:FontAwesome;
	position:absolute;
	right:5%;
}
.recipe_sub_cat>span:before{
	content: "\F0F5" ;
    font-family:FontAwesome;
    float: left;
    width: 50px;
    margin-right: 15px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #6BA72B;
    border-right: 1px solid #eee;
} 
.recipe_subcat_lists{
	/* display:none; */
}
/*.image_overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: normal;
    color: #fff;
    width: 100%;
    opacity: 1; 
    filter: alpha(opacity=0);
    transition: opacity 0.5s ease-in-out 0s;
    z-index: 2;
    bottom: 14%; 
   }*/

   .recipe_subcat_lists>li{
           padding: 5px 3px 5px 7px;
		   -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
 }
.recipe_lists_wr{
 	padding:6px;
 	background:#ccc;
 	/*border:1px solid #88be4c;*/
}
.recipe_lists:hover{
	border:3px solid #88be4c;
 	/*border:1px solid #88be4c;*/
}
   .recipe_subcat_lists{
     list-style-type:none;  
     padding: 50px 1px 5px 20px;
   }
   .recipe_subcat_lists>li:before{
	content:"\f0a4";
	font-family:FontAwesome;
	color: #be4c54;
   }

   .recipe_subcat_lists>li>a:hover{
   color:#88be4c;
   text-decoration:underline;   
   }
      .recipe_subcat_lists>li:hover:before{
   color:#88be4c;
   }
   .recipe_subcat_lists>li>a{
      padding-left: 4px;
    font-size: 0.9em; 
	}
	.recipe_back:after{
	    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    background: #E6E2D6;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    left: 46%;
    bottom: -12px;
	}
    
.recipe_banner{
	margin-bottom:1%;
}
.recipe_lists a:hover:before {
    background: #6BA72B;
    color: #fff;
    font-size: 30px;
}
.Recipe_link_1,.Recipe_label_1{
    height: auto !important;
    }
.recipe_maincontent{
	/* background:#f5f5f5 !important; */
	max-width: 90% !important;
}
.ingredients_section{
	margin: 0!important;
	/*border-top:1px solid #88be4c;*/
}
.Recipe_label_2{
    color: #4a4949 !important;
    font-weight: 600;
	/*border-bottom: 1px dashed #999;
    border-top: 1px dashed #999;*/
    padding: 5px !important;
}
.ingredients_table{
	padding-top:2%;
}
.ingredients_list{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0px;
    list-style-type:none;
}
.ingredients_list li{
	margin: 1% 1%;
    border-bottom: 1px dashed #ccc;
    padding-bottom:10px;
}
.ingredients_list li:nth-child(3){
 border-bottom: none;
}
.recipe_ing_wr{
	background: #f5f5f5 !important;
}
div.content_wrapper{
	height:100%;
}
.ingredients_text{
	/* background: #f5f5f5;*/
    padding: 20px;
 display: block;
    color: rgb(134, 114, 114);
    position: relative;
   /*  height: 130px; */
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
font-size: 0.7em;
}
/*.ingredients_lists{
	position:relative;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 39px 0;
    position: relative;
    margin: 12px 0 35px 0;
    list-style-type: none;
    }*/
    
    .recipe_cart_sec>.addToCart{
    	margin-top:8%;
    }
    .ingredients_lists{
    position:relative;
    border: 1px solid #e9e9e9;
    width:100%;
    }
    .ingredients_lists>thead>tr>th:nth-child(1),.ingredients_lists>tbody>tr>td:nth-child(1){  
   	width: 16%;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
   /* border-right: 1px solid red;*/
    }
    .ingredients_lists>thead>tr>th:nth-child(2),.ingredients_lists>tbody>tr>td:nth-child(2){
   	width: 80%;
    border-bottom: 1px solid #e9e9e9;
    
    }
    .ingredients_lists{
    border-bottom: none !important;
    }
    .ingredients_lists>thead>tr>th{
        /*color: #6d6a6a;*/
    font-size: 0.8em;
    word-break: break-all;
    color: #6d6a6a;
    padding: 10px;
   
    }
    .ingredients_lists>tbody>tr>td{
    font-size: 0.7em;
    word-break: break-all;
    color: #808080;
    padding: 6px;
    }
    .ingredients_lists>tbody>tr>td>span>input,.servings_cnt>input{
    text-align: center;
    width: 32%;
     background: #88be4c;
    border: none;
    color: #fff; 
    }
    .inc_button{
        display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
   /*  -moz-box-shadow: 0px 0px 2px #68bb0b;
    -webkit-box-shadow: 0px 0px 2px #68bb0b;
    box-shadow: 0px 0px 2px #68bb0b; */
	border: 1px solid #88be4c;
    cursor:pointer;
    font-size: 14px;
    padding: 1px 5px;
        vertical-align: top;
}
    .dec_button{
	display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
   /*  -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #d46834; */
    cursor: pointer;
    font-size: 14px;
    padding: 1px 5px;
    border: 1px solid #ca4200;
        vertical-align: top;
}

     .inc_button:before{
      content:"\f067";
      font-family:FontAwesome;
      vertical-align: middle;
          color: #88be4c;
      }
      .dec_button:before{
      content:"\f068";
      font-family:FontAwesome;
      vertical-align: middle;
          color: #ca4200;
      } 
      .servings_sec{
          padding: 0 16px;
    box-sizing: border-box;
    vertical-align: middle;
      }
      .servings_sec>label{ 
          color: #4a4949;
    font-weight: 600;
    font-size: 20px;
    }
    .servings_cnt>.cng_icon{
    	vertical-align:middle !important;
    }
    .servings_cnt>input{
    	width: 23%;
    font-size: 20px;
    }
    .ingredients_lists>tbody>tr>td:nth-child(2){
    padding-left: 12px;
    }
	.recipe_addcart{
		position:absolute !important;
		right: 1%;
    bottom: 2%;
    border-radius: 2px !important;
	}
	.recipe_addcart>.button_text{
	font-size: 0.6em !important;
	padding: 2px 8px !important;
    outline: none;
	}
	.recipe_addcart>.button_text:before {
    content: "\f218";
    font-family: FontAwesome;
}
	
    .ingredients_lists:before {
        left: 17%;
}
    .ingredients_lists:after {
    left: 16.7%;
}
.ingredients_lists:before, .ingredients_lists:after {
    content: "";
    height: 100%;
    width: 1px;
    background-color: #ffd4d4;
    position: absolute;
    top: 0;
}
/*ul.ingredients_lists>li{
    border-bottom: 1px solid #e9e9e9;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 3px 5px 8%;
        word-break: break-all;
        color: #808080;
    font-size: 0.7em;
    }
    ul.ingredients_lists>li>input{
    	display:none;
    }
      ul.ingredients_lists>li>label{
            cursor: pointer;
    position: relative;
    padding-left: 30px;
        }
        ul.ingredients_lists>li>label:before{
        	    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border: 2px solid #d0d0d0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        }*/
        .ingredients_lists>li:first-child {
    border-top: 1px solid #e9e9e9;
}
/*.ingredients_lists>li>input[type=checkbox]:checked + label:before {
    border-color: #8dc63f !important;
        background-color: #8dc63f!important;
        
            content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 15px;
    background-color: rgb(128, 128, 128);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(128, 128, 128);
}*/
.ingredients input[type=checkbox]:not(:checked) + label {
   text-decoration: line-through; 
}
.nutrition_attr{
	list-style-type:none;
	margin: 0 !important;
    padding-left: 4px !important;
}
.nutrition_li_attr>label{
	display:inline-block;
	width:14%;
	margin:0.3%;
}

/*image flip*/
.recipe_flipper{
	-webkit-transition: 1.5s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 1.5s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 1.5s;
	-o-transform-style: preserve-3d;

	transition: 1.5s;
	transform-style: preserve-3d;

	position: relative;
}
.recipe_front,.recipe_back{

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;


}
.recipe_back{

position: absolute;
	top: 0;
	left: 0;
	    bottom: 0;
		right:0;
	}
/*.recipe_back:before{
    content: "\F0F5";
    font-family: FontAwesome;
    padding: 12px;
    background: #7d6262;
    border-radius: 50%;
    color: #88be4c;
    font-size: 16px;
}*/

.recipe_front{
z-index: 2;
}
.recipe_back{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	/* background: #f8f8f8; */
	background: rgba(136, 190, 76, 0.12);
	}
	.recipe_lists:hover>.recipe_flipper{
			-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
/*image flip*/

/* Promo Add*/
.promoAd{
    position: absolute;
    display: block;
    color: #f7f6f2;
    float: right;
    padding: 15px 12px 15px 8px;
    line-height: 15px;
    margin-right: -15px;
    /*font-size: 14px;
    text-shadow: -1px -1px 0px #5f7033;*/
    font-weight: bold;
    /*background: #a1bd57;*/
	background:#fac549;
    bottom: 22px;
    right: 7px;
}
.promoAd:before{
    background: url(../images/price-tag-before.png) no-repeat; 
	    content: "";
    width: 20px;
    height: 45px;
    position: absolute;
    left: -20px;
    top: 0;
}
.promoAd:after{
    /*border-color: #788D3F rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #788D3F;*/
	border-color:#dea549 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #dea549;
border-style: solid;
    border-width: 4px;
    content: " ";
    height: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 0;	

}

/* Promo Add*/

/* Associated products*/
.rec_siblings{
	margin: 1% 0 3% 0;
	background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.container_content_rightsidebar > .left_column{
	width:100% !important;
}
.rec_siblings h2{
    padding: 9px;
    background: #f5f5f5;
    font-size: 1.2em;
}
.rec_siblings>.siblingItems{
	padding-left: 8px;
}
.rec_siblings>.siblingItems>.siblingItem{
    width: 30%;
    float: left;
	margin: 2% 0;
	border-right: 1px solid #88be4c;
    padding-right: 3px;
    padding-left: 10px;
	}
.rec_siblings>.siblingItems>.siblingItem:nth-child(3){
	border-right: none !important;
}
.rec_siblings>.siblingItems>.siblingItem>.image{
	width:14%;
	float:left;
	display:inline-block;
}
.rec_siblings>.siblingItems>.siblingItem>.txt{
	width:60%;
	display:inline-block;
    margin-left: 3%;
	word-wrap: break-word;
}
.rec_siblings>.siblingItems>.siblingItem>.txt>p:first-child{
    padding: 4px 6px;
}
.rec_siblings>.siblingItems>.siblingItem>.txt>.price{
	padding: 1px 6px;
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
	}
	.catalogEntryRecommendationWidget .addToCart,.product_listing_container .addToCart{
		text-align:center;
	}
	.catalogEntryRecommendationWidget .addToCart>.button.primary, .catalogEntryRecommendationWidget .addToCart>.button.secondary{
		min-width: 100% !important;
	}
.rec_siblings>.siblingItems>.siblingItem>.addToCart{
	width: 13%;
    display: inline-block;
	vertical-align: bottom;
}
.rec_siblings>.siblingItems>.siblingItem>.addToCart>.addToCart>.button{
	width:auto !important;
	max-width:inherit !important;
}
.rec_siblings>.siblingItems>.siblingItem>.addToCart>.addToCart>.button:before{
	padding: 0px 10px !important;
}
.top_viewed h1{
    padding: 9px 6px;
    background: #fff;
}  
.catalogEntryRecommendationWidget{
	background:#fff;
	/*padding: 0 !important;*/
    margin-bottom: 2%;
}
.widget_product_image_viewer > .content > .other_views{
	margin-top: 3% !important;
}
.widget_product_image_viewer > .content > .other_views > .other_views_text{
	padding: 5px !important;
}
.widget_product_image_viewer > .content > .other_views > ul{
	padding-left: 5px !important;
}
.product_pageDesign_pageGroup iframe{
    margin-top: 6%;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #888;
	}
/* Associated products*/

/* recipe 26-7*/

.header_wrapper_position{
	z-index:4444 !important;
}
.no_mar_btm{
	margin-bottom:0 !important;
}
.no_background{
	background:none !important;
}
.available > .sublist {
    padding-top: 0 !important;
    padding-left: 15px;
    padding-bottom: 0px !important;
    margin-top: -10px;
}
.carousel > .prevPageButton:before{
    content: "\f104";
    font-family:FontAwesome;
    font-size: 2em;
}
.carousel > .nextPageButton:before {
    content: "\f105";
    font-family:FontAwesome;
    font-size: 2em;
}
.catPos > .product_image > a > img {
    max-height: 100% !important;
    margin: 0 !important;
}
.prevPageButton, .contentCarouselWidget > .nextPageButton {
    width: 30px;
    height: 40px;
    margin-top: -36px;
    text-align: center;
}
.contentCarouselWidget > .prevPageButton, .contentCarouselWidget > .nextPageButton {
    width: 30px;
    height: 40px;
    margin-top: -36px;
    text-align: center;
}
#minishopcart_total {
    background-color: #267d45;
}
/*h1 {
    font-size: 20px !important;
}*/
#prefTitle{
	padding: 7px 10px;
    font-weight: normal;
    font-size: 14px !important;
}
.available {
    padding: 0px 0px !important;
}
.available .subHeading {
    padding-left: 0 !important;
    padding-bottom: 0px !important;
}
.margin_top_align{
	margin-top:1%;
}
.container{
	margin-right: auto;
	margin-left: auto;
	/*background:#fff;*/
}
.contentCarouselWidget {
	/* margin-top:-2% !important; */
}
#recurringOrderInfo img {
	display:inline-block;
}
.dropdown_arrow img , .remove_address_link img{
	display:inline-block;
}
.header_fixed{
	position:fixed !important;
	left:0;
	right:0;
	top:0;
}
#headerRow1{
	background:#88be4c;
    height: 35px;
}
#headerRow2{
	background-image:none;
	height:49px !important; 
	border:none;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 9px 0 rgba(0, 0, 0, 0.14); 
}
 .main ul .attribute .values {
	font-size:12px;
}
#quickLinksBar {
    margin: 0;
    color: #ffffff;
    list-style: none;
    text-align: right;
    padding-top: 8px;
    font-size: 12px;
}
.departmentButton:after, #quickLinksButton:after, #widget_minishopcart:after, #departmentsButton:after, #searchButton:after, .pageControlButton:after {
    background-image: none; 
}
#widget_minishopcart {
    margin: 29px 1px 0px 0px;
    z-index:1;
    background-image:none !important;
    border:0 !important;
}
.contentCarouselWidget .prevPageButton , .contentCarouselWidget .nextPageButton{
	background:#fff;
}
.departmentButton > span{
	padding:6px 15px !important;
	border:none !important;
	font-weight: 600;
}
.departmentButton{
	background-image:none;
	border:none !important;
	border-radius:0;
}
.arrow_button_icon{
	display:none;
}
#searchBar{
    right: 5%;
}
#searchTermWrapper {
    padding: 4px 10px;
}
#departmentsMenu{
	padding:0 8% !important;
}
#quickLinksBar > li {
    vertical-align: top;
 }
#logo{
    margin-left: 2%;
}
.logo img{
	padding-top:10px;
}
.category_title h1{
    color: white;
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #88be4c;
    font-size: 1.9em;
	padding: 5px 10px;
}
.category_title{
    margin-left: -1%;
	background: #fff;
}
.category_title h1:after{
    content: "";
    height: 1px;
    width: 1px;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-color: #6a9c32 #6a9c32 transparent transparent;
 }
.best_title{
	margin-bottom:5px;
}
.recom_align{
	margin-top:1%;
}
.recommend_container ul{
	list-style-type:none;
	padding:0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    margin: 0 auto;
}
li.recommend_block{
	width: 50%;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
	display:flex;
}
.recommend_block>div{
	width: 50%;
    margin: 1px 1px 0 0;
    text-align: center;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    word-break: break-all;
}
.recommend_text{
    background:#be4c54;
	color:#fff;
	display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    justify-content: center;
    position:relative;
	}
.recommend_content{
	padding:20px;
}	
.recommend_text h3{
	font-size: 1.3em;
    color: #fff4e3;
    text-transform: none;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.5em;
}
.recommend_text h3:before{
	content: '';
    display: inline-block;
    width: 50%;
    height: 19px;
    background: url(../images/bnr-title-ornament.png) 50% 50% no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25%;
 }
 .recommend_content p{
 	margin:0 0 10px;
 	font-size:0.9em;
 }
 .recommend_content a{
 	font-size:1.2em;
    color: #fff;
 }
  .recommend_content a:hover{
 color: #588a0c;
     -webkit-transition: all,0.2s,ease-in-out;
    -o-transition: all,0.2s,ease-in-out;
    transition: all,0.2s,ease-in-out;
 }
 .recommend_text:before{
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    background:#be4c54;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    top: 50%;
    margin-top: -12px; 
}
.block_1 .recommend_text:before{
	left:-10px;
}
.block_2 .recommend_text:before{
	right:-10px;
	z-index:1;
}
.recommend_block:hover .recommend_text{
	background:#84c225;
}
.recommend_block:hover .recommend_text:before{
	background:#84c225;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
 #header:before{	
	background-image:none;	
	height:0;
 }
 .blog_header{
 	padding-bottom:1%;
	position: relative;
 }
 .blog_header h1{
 	font-weight:bold;
 	padding-bottom:1%;
 }
/* .blog_header p{
    font-size: 20px !important;
    color: #84c225;
 }*/
 .blog_content{
 	display: inline-block;
    max-width: 100%;
    vertical-align: top;
    margin-bottom:5%;
 }
 .blog_margin{
 	margin-right:2%;
 	margin-left:2%;
 }
 .blog_text_head a{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    color: #159000;
 }
 .blog-description{
 	background:#fff;
 	padding: 10px 10px 20px 10px;
 	}
 .blog-description h2{	
 	line-height: 32px;
    padding: 10px 3% 15px;
    margin: 0;
 }
 .blog-description h2 a{
 	background-color: transparent;
    color: #212121;
    font-weight: bold;
	font-size: 18px;
    letter-spacing: 1px;
 }
 .blog-description p {
	line-height: 20px;
    font-size: 16px;
    word-spacing: 0.2em;
  }
 .view-more{
  	color: #fff;
    background-color: #79cba8;
    margin-top: 10px;
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 25px;
    font-family: raleway;
 }

.no_float{
	float:none !important;
}
.no_padding{
	padding:0 !important;
}
.share ul.no_padding:before {
    content: '\f1e0';
    font-family: FontAwesome;
    font-size: 25px;
    padding-right: 15px;
    vertical-align: top;
}
.ribbon_left,.ribbon_right{
    background: #7b9f52;
    position: relative;
   	padding: 6px 0;  	
}
.ribbon_content_left span{
	width:35%;
	text-align:center;
	display:inline-block;
	vertical-align: top;
}
.ribbon_center{
    background: #93bc63;
    position: relative;
    padding: 12px 0px;
    margin-top: -7px;
    z-index:999;
}
.ribbon i{
    font-size: 2em;
    color:#fff;
}
.ribbon_left:before {
    background: url(../img/bg-media-left.png) repeat-y scroll 0 0 transparent;
    content: "";
    height: 100%;
    right: 100%;
    position: absolute;
    top: 0px;
    width: 12px;
}
.ribbon_left img{
	margin: 2px 5px 0 15px;
}
.left_espot.centered{
	text-align:center;
}
.ribbon_content_left label , .ribbon_content_left p{
	color:#fff;
	text-align:center;
}
.ribbon_content_left p{
	font-size:12px;
}
.ribbon_content_left label {
	font-size:16px;
	font-weight: 800;
	vertical-align: top;
}
.ribbon_center:before {
    background: url(../img/bg-discu-left.png) repeat-y scroll 0 0 transparent;
    content: "";
    height: 100%;
    right: 99%;
    position: absolute;
    top: 0px;
    width: 12px;
}
.ribbon_center:after {
    background: url(../img/bg-discu-right.png) repeat-y scroll 0 0 transparent;
    content: "";
    height: 100%;
    left: 98%;
    position: absolute;
    top: 0px;
    width: 12px;
}
.ribbon_right:after {
    background: url(../img/bg-media-right.png) repeat-y scroll 0 0 transparent;
    content: "";
    height: 100%;
    left: 99%;
    position: absolute;
    top: 0px;
    width: 12px;
    z-index: 1;
}
/* Carousel styles*/
.catalogEntryRecommendationWidget > .prevPageButton {
	top: 0;
    left: 91%;
}
.catalogEntryRecommendationWidget > .nextPageButton {
	top: 0;
    right: 4%;
}
.contentCarouselWidget .pageControl.dot > a {
	background-color:#000;
}
.contentCarouselWidget .pageControl{
    bottom: 13px;
}
.slot_margin{
	margin-bottom:1%;
}
tbody.dijitReset tr:hover {
    background: #88be4c !important;
    outline: none !important;
}
.orderBySelectMenu > table tr.dijitSelectSelectedOption{
	background: #88be4c !important;
}

 .product>.product_image{
    position: relative;
    border: 1px #eaeaea solid;
}
 .product>.product_info{
	text-align: center;
}
 .product>.product_info .product_name{
	margin-bottom: 2px;
    padding-top: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.5px;
}
 .product>.product_info .product_name a:focus{
	outline:none;
}
 .product>.product_image>.image img{
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}
 .product>.product_image:hover >.image img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-transform: scale(1.2);
} 
 .product>.product_image>.image{
    position: relative;
    overflow: hidden;
}
.departmentMenu{
  border-top: 3px solid #88BE4C;
	top:95%;
	padding:13px 15px;
}
#departmentsMenu > li{
	position:relative;
}
#departmentsMenu > li:before {
    content: '';
    position: absolute;
    top: 15px;
    right: -1px;
    display: block;
    height: 20px;
    width: 1px;
    opacity: .35;
    background: rgba(255, 255, 255, 0.8);
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.01), #000, rgba(255, 255, 255, 0.01));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 0));
}
.departmentButton.selected{
	background: #88BE4C;
	color: #fff;
	font-weight: BOLD;
}
.departmentMenu > .header > .link:focus{
	outline:none;
}
.departmentMenu > .header{
	border-bottom:0;
    width: 25%;
}
.departmentMenu > .header a{
	color: #79ae3d;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: #ececec double;
    margin-bottom: 10px;
}
.blog-item:hover {
    -webkit-box-shadow: 0 -2px 29px 0 rgba(0,0,0,.15);
    box-shadow: 0 -2px 29px 0 rgba(0,0,0,.15);
}
.departmentButton {
    margin: 0 2px;
 }
 .departmentButton:hover {
    background-image: linear-gradient(#88be4c, #88be4c);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#88be4c), to(#88be4c));
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#ced2d3')";
    color:#fff;
}
#footer{
	background-image:none;
	background:#88be4c;
}
.basicMenu a:hover, .departmentMenu a:hover, #quickLinksBar > li > a:hover, #searchFilterButton:hover, .product_info > .product_name > a:hover {
	text-decoration:none;
}
.ribbon_wr > span > i,.ribbon_wr > a > span > i{
	-webkit-transform: rotateY(-180deg);
	 -ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.6s ease-in-out 0s;
	transition: all 0.6s ease-in-out 0s;
}
.ribbon_wr:hover > span > i,.ribbon_wr:hover > a > span > i{
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
/* PLP */
.productListingWidget{
	background:#fff;
}
.productListingWidget > .header_bar > .title {
    font-size: 12px !important;
}
#quickLinksBar a i{
	padding-right:5px;
}
#content .collapsible > h3, .categoryNavWidget.collapsible > h3, .linkWidget.collapsible > h3 {
   	background:#88be4c !important;
    color:#fff !important;
}
.selectWrapper {
    background-color: #fff !important;
   	border-radius: 0 !important;
    border: 1px solid #ddd !important;;
  }
div.grid_icon, a.grid_icon:hover, div.list_icon, a.list_icon:hover {
    background-color: #88be4c !important;
    border-color: #88be4c !important;
}
.controlBar .pageControl.number > a:hover, .controlBar .pageControl.number > a.selected {
	background-color: #88be4c !important;
    border-color: #88be4c !important;
}
  .sorting_controls > span, .sorting_controls > span > label, .view_controls > span, .sorting_controls > span > label {
    vertical-align: middle !important;
    }
.productListingWidget > .header_bar {
    border-bottom: #ececec double !important;
}
#content .collapsible > h3, .categoryNavWidget.collapsible > h3, .linkWidget.collapsible > h3 {
	margin: -9px 0px -11px -10px !important;
    outline: none;
    overflow: visible !important;
}
.facetWidget h3:after , .categoryNavWidget h3:after{
    content: "";
    height: 1px;
    width: 1px;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-color: #88be4c #88be4c transparent transparent;
}
.facetSelect li a , #searchTermWrapper > input {
    outline: none !important;
    }
.product_page_content .widget_product_image_viewer > .content {
    float: none !important;
}
.no_margin{
	margin:0 !important;
}
.border_top{
	border-top:1px solid #e5e5e5;
	padding-top:11px;
}
.shopperActions .dropdown_list {
    right: 5.7%;
 }	
.main ul{
	padding:0;
	margin: 1% 0 1% 4%;
	font-size: 12px;
}
.quantity_section {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.quantity_section > .quantity_input{
	border: 1px solid #adadad;
}
.product > .product_image {
    border: 1px #eaeaea solid !important;
}
.grid > li {
    vertical-align: middle;
}
#searchBox {
    height: 34px;
    border-radius:0;
    }
.grid_mode .product_name {
    padding: 10px 0px 0px 15px !important;
    text-transform: capitalize;
}
.grid_mode .product_price {
 	padding: 0  !important;
    text-align: center;
   /* min-height: 35px !important;*/
	min-height: 28px !important;
}
a.button.primary:hover, .button.secondary:hover {
    background-image:none !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fff', endColorStr='#fff')" !important;
}
.catEntryGrid_border {
    border-bottom: 0 !important;
}
.right_column {
    position: relative;
}
div.widget_quick_info_popup > .middle > .content_left_border > .content_right_border > .content > .right_column .close_group {
    right: -22px !important;
    top: -32px !important;
    outline:none; 
}
.widget_quick_info_popup  {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
}
div.widget_quick_info_popup > .middle > .content_left_border {
	position:absolute;
	left:25%;
	top:25%;
}
.button_add_to_cart > .button_text{
	background: #88be4c !important;
}
.button_add_to_cart > .right_border , .button_add_to_cart > .left_border  {
	background:none !important;	
}
div.namePartPriceContainer > div > span.price {
    font-size: 24px !important;
    color: #fb4e4a !important;
    padding-bottom: 10px;
}
.optionContainer > .title{
	outline:none;
}
.product_info > .product_price {
    color: #fb4e4a !important;
    font-size: 16px !important;
    margin-bottom: 15px !important;
}
.grid_mode .product_name {
    min-height: 40px !important;
}
/*for pdp page*/
.tab_container {
	color: #88BE4C !important;
	border-top: 2px solid #88BE4C !important;
}
.button.primary{
    line-height: 30px !important;
    font-weight: bold !important;
}
.basicButton > span{
    background: #88be4c;
    color: #fff !important;
    border: none !important;
}
a.button.primary{
    border: 2px solid #88be4c;
    background: #fff;
    z-index: 9;
    position: relative;
}
#cartDropdown {
    border-top: 3px solid #7b9f52 !important;
}
a.button.primary:before {
    content: '\f07a';
    font-family: FontAwesome;
    background: #88be4c;
    color: #fff;
    font-size: 16px;
    padding: 0px 15px;
    display: inline-block;
    float: left;
}
.myaccount_header{
    border-color: #88be4c #E5E5E5 #E5E5E5;
}
.button_text{
	background: #88be4c;
    color: #fff !important;
    border: none !important;
}
.add_2_cart{
	background:#fff;
	border:none !important;
	color:#111 !important;
}
.header-search-jotter-pad {
	width:75%;
	padding:10px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.43);
}
.header-search-jotter-pad textarea {
    width: 305px !important;
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, rgba(208, 208, 208, 0) 30px, rgba(204, 204, 204, 0.87) 31px, white 31px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 8px !important;
    line-height: 31px !important;
    margin-left:0px !important;
}
.jotter-close:before{
	content:"\f057"!important;
	font-family:FontAwesome;
	color:#000 !important;
	font-size:20px !important;
}
.jotter-close:hover:before{
	color:#88be4c !important;	
}
#multiterm, #clearButton{
	background: #88be4c!important;
	color:#fff !important;
    padding: 5px;
    border:1px solid #88be4c;
}
.multi_search_btn .submit-button{
	display:inline-block;
}
.multi_search_btn{
	float:right;
}
.multi_search_btn .submit-button input {
    background: #f7f9f9 !important;
    color: #5c8018!important;
    border: 1px solid #5c8018;
    padding: 5px 20px !important;
    border:1px solid #5c8018;
}
form{
	margin-top:1%;
}
.product_quantity,.product_name{
	padding:3%;
}
.product_name{
    font-weight: 100 !important;
    height: 30px;
 }
.product_discount{
	font-weight:bold;
	color: #fb4e4a !important;
  	font-size: 12px;
  	padding: 10px;
}
.bg-color{
	background: #f5f5f5 !important;
}
/* Multi search**/
#searchFilterButton {
  vertical-align: initial;
  border: 1px solid #88BE4C;
  margin-right: 1%;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
	bottom: 75px;
    right: 20px;
    overflow: hidden;
    width: 55px;
    height: 55px;
    border: 0;
    text-indent: 100%;
    z-index: 500;
    background: #267d45;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#toTop:before {
content: '\f062';
    font-family: FontAwesome;
    font-size: 26px;
    color: #fff;
    display: block;
    position: absolute;
    left: -40px;
    top: 7px;
}
#toTop:hover {
    width: 55px;
    height: 55px;
    display: block;
    overflow: hidden;
    float: left;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    background: #c9cbc8;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#toTop:hover:before {
    content: '\f062';
    font-family: FontAwesome;
    font-size: 26px;
    color: #267d45;
    display: block;
    position: absolute;
    left: -40px;
    top: 7px;
}

.contentCarouselWidget > .prevPageButton:before{
	left: 7px !important;
}
.contentCarouselWidget > .nextPageButton:before{
	left: 11px !important;
}
.contentCarouselWidget > .prevPageButton:focus:before, .contentCarouselWidget > .prevPageButton:hover:before{
	top: 0 !important;
}
.contentCarouselWidget > .nextPageButton:hover:before, .contentCarouselWidget > .nextPageButton:focus:before{
	top: 0 !important;
	left: 11px !important;
}
.catalogEntryRecommendationWidget > .nextPageButton:hover:before, .catalogEntryRecommendationWidget > .nextPageButton:active:before{
	    left: 9px !important;
}
.catalogEntryRecommendationWidget > .prevPageButton:hover:before, .catalogEntryRecommendationWidget > .prevPageButton:active:before{
	 left: 0 !important;
}
   
.catalogEntryRecommendationWidget  > .prevPageButton:before, .catalogEntryRecommendationWidget  > .nextPageButton:before{
	top: -10px !important;
}
.catalogEntryRecommendationWidget > .nextPageButton:before {
    left: 9px;
}
#quick_cart_container, #MiniShopCartProductAdded {
    top: 83px !important;
}
/*shopping cart starts here*/
#box .main_header .right_corner, #box .main_header .right_corner_straight{
	background:none;
	border-right:solid 1px #e5e5e5;
}
#box .main_header .left_corner, #box .main_header .left_corner_straight{
	background:none;
	border-left:solid 1px #e5e5e5;
}
#box .main_header {
    background: whitesmoke;
    border-top: 3px solid #88be4c;
}
.editAddressLink,.newShippingAddressButton,.tlignore img{
	display:inline-block !important;
}
.float_class{
	float:left;
	margin-right:10px;
}
.gift_header {
    border-top: 2px solid #88be4c;
 }
#prefTitle{
     background-color: #F5F5F5;
     border-top: 3px solid #88be4c;
}
#changePreference,#changeSubsPreference{
	background: #88be4c;
    color: #ffffff;
    padding: 7px;
    border: 1px solid #e5e5e5;
} 
/* BRANDS A-Z page*/

.az_list li{
	display:inline-block;
	border-right:1px solid #000;
    padding: 0px 6px;
    font-size: 14px;
}
.az_list li:last-child{
	border-right:none;
}
.az_list li a{
	padding-right:4px;
}
.az_list li a:focus,.az_list li a:active{
	color:#88be4c;
	border-top:2px solid #88be4c;
	padding:0;
}
.az_list{
	text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.brand_nav{
    background:rgba(136, 190, 76, 0.15);
}
.brand_nav h3{
	color: #282828;
    font-size: 18px;
    padding-left: 25px;
    height: 56px;
    line-height: 56px;
    border-bottom: 1px #e5e5e5 solid;
    margin: 0;
}
.Pagination{
	padding: 17px 0px;
    border-bottom: 1px #e5e5e5 solid;
}
.nav_list{
	padding:0;
}
#searchBox > .submitButton {
    margin: 4px 109px 4px 0;
}
.nav_list li{
    list-style: none;
    padding: 15px;
    border-bottom: 1px #e5e5e5 solid;
    border-left: 4px solid rgb(237, 245, 228);
}
ul.nav_list li:hover {
    border-left: 4px solid #88be4c;
}
.facet_wine_image {
    background-image:url("../images/bg3.jpg") !important;
    background-size:100% 100%;

}
.white_bg{
	background:#fff;
	border: 1px #e5e5e5 solid!important;
}
.brand_content{
	padding-left:4%;
}
/*substitution page*/
 .substitute_wrapper{
	background: #fff;
    z-index: 1;
    box-shadow:  0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 9px 0 rgba(0, 0, 0, 0.14);
    font-size: 14px;
}
.substitute_wrapper .header{
    padding: 6px;
    background: #88be4c;
    color:#fff;
    font-weight:bold;
}
.substitute_wrapper .bodyarea{
	background:#fff;
	padding:8px;
}
.substitute_cnt>div .combo_text h1.status_msg{
	font-size:14px !important;
	padding-bottom: 6px; 
}
.substitute_cnt>div .combo_text{
	display:inline-block;
	vertical-align:top;
}
.substitute_cnt>div img{
	display:inline-block;
}
.substitute_cnt>div .combo_text .grey{
	padding-left:10px;
} 
.substitute_cnt>div{
	margin-bottom: 5%;
} 
.search-jotter-link a{
	top:6px !important;
}
.th_align_left_normal {
	width:48%;
}
.avail{
	width:14%;
}
#SingleShipment_tableCell_substitute{
	width:9%;
}
.product_listing_container>ul li:first-child>div .icons_wrapper .icons a.veg{
    margin-right: 2%;
    position: relative;
    background: #000;
    color: #fff;
    padding: 8px;
    text-align: center;
    margin-left: 2%;
    border-radius: 50px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.share li{
	list-style: none;
    display: inline-block;
    padding-right: 10px;
}
.share ul li a {
    width: 30px;
    display: block;
}
.brand_menu li{
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    width:10%;
    margin: 10px 20px 0px 20px;
    overflow:hidden;
}
.wine_reset{
    float: right;
    margin: 1%;
    background: #7bb144;
    padding: 5px 10px 5px 10px;
    color: #fff;
}
.catPos >.product_image > a {
    height: auto !important;
}
.facetWidget .clearAll {
    right: 20px !important;
}
.facetSelectContainer {
	padding: 0 !important;
 }
.horizontal .optionContainer > .title {
    font-size: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: rgb(217, 224, 152);
}
.horizontal .facetSelect li a {
	margin: 0 !important;
}

.SellingPoints .Sugar:after{
  	content: 'S';
  	background: rgba(218, 48, 109, 0.68);
  	text-align: center !important;
  	color: rgb(27, 29, 24);
  	font-weight: 700;
  	font-size: 12px;
  	padding: 1px 4px;
  	color: #fff;
}
.SellingPoints .Lactose:after {
    content: 'L';
    background: #8cc2de;
    color: #fff;
    padding: 1px 4px;
    font-weight: 700;
    font-size: 12px;
}
.SellingPoints .Organic:after {
    content: 'O';
    background: orange;
    color: #fff;
    padding: 1px 4px;
    font-weight: 700;
    font-size: 12px;
}
.SellingPoints .Vegetarian:after {
    content: 'V';
    background: #88be4c;
    color: #fff;
    padding: 1px 4px;
    font-weight: 700;
    font-size: 12px;
}
.SellingPoints .Peanut:after {
    content: 'P';
    background: green;
    color: #fff;
    padding: 1px 4px;
    font-weight: 700;
    font-size: 12px;
}
.SellingPoints .Gluten:after {
    content: 'G';
    background: #d9b500;
    color: #fff;
    padding: 1px 4px;
    font-weight: 700;
    font-size: 12px;
}
.SellingPoints .Own:after {
 	content: "";
	background: url("../images/own_brand.jpg") no-repeat 0 0;
    width: 20px;
    display: inline-block;
    height: 22px;
    vertical-align: bottom;
}

.facet_wine_image li.singleFacet , .facet_wine_image .swatch .outline {
 	width:auto !important;
 	padding: 10px 3% !important;
 }
#facetFilterList li {
 	min-width: 0 !important;
    padding: 10px  20px !important;
    text-align: center !important; 
 }
 #facetFilterList li a:focus{
  	outline:none;
 }
a:focus{
	outline:none;
}
.product .product_quick_info {
	border: none !important;
}
.location_search > .product{
	display:inline-block;
	padding-left:20px !important;
	padding-right:20px !important;
}
.geobased_search{
	width:auto !important;
	background:#fff !important;
	border: 1px solid #e9e9e9!important;
	}
.geobased_search .widget_title_container{
	border-bottom: #ececec double !important;
    padding: 10px 20px;
}
.quicklink_style li a{
	color:#000;
}
li.attribute.sellpoint_label.OwnLabel:after {
    content: '\f06c';
    font-size: 1.2em;
    font-family:FontAwesome;
    color: #308c51;
    padding: 1px 4px;
    font-weight: 900;
}
a.quickview_icon{
	position: relative;
    left: -44%;
    top: 2%;
}
.blog_body {
	margin-bottom:1.5%;
}
 .blog-item>iframe{
	display:block !important;
	position:relative;
	height: 202px;
    max-width: 100%;
} 
.brand_menu>li>a>span{
	height:40px;
	display:block;
	font-size:13px;
}
.brand_menu>li>a>img{
	display:block;
	vertical-align:middle;
	height:auto;
}
.prefContent{
    border-bottom: 2px dotted #e5e5e5;
    padding-bottom: 1%;
 }
 .pdp_brandlogosec{
     width: 100px;
}     
.no_brands{
	text-align: center;
    margin-top: 5%;
    color: red;
}
.departmentMenu > li {
    border-bottom: 1px solid #88be4c;
}
.mulresults .list{
   /* background: #fff;*/
}
.mulresults .list li{
	list-style-type:none;
	padding:10px 0px 0px  0px;
}
.crudbtns{
	margin-top:20px;
}
.addInput , .updateBtn {
	background: #88be4c linear-gradient(to bottom,transparent,rgba(2,51,4,0.1));
 	padding: 7px 10px 6px 10px;
    border: 1px solid #88be4c;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    cursor:pointer;
}

.multisearch_list{
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    margin: -1px 1px 0 1px;
    padding: 0 5%;
    border-radius: 5px 5px 0 0;
    background: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F1F1F1));
    background: linear-gradient(#88be4c, #88be4c);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#F1F1F1')";
    cursor: pointer;
    border-bottom: 1px solid #e3e1e1;
    border-top: 1px solid #e3e1e1;
}
.multilist_wrapper{
	padding: 10px 5%;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color .2s;
}
.textval{
	height: 25px;
    padding-left: 10px;
}
/*** Brands page css****/
.brandProducts {
	text-align: center;
}
.brandProducts li{
	list-style-type:none;
	display:inline-block;
}
.brandProducts li a{
	display:block;
	padding:10px ;
}

/*media queries*/ 
@media screen and (max-width: 1280px){
#productsFacetsHorizontal > fieldset {
    width: 100% !important;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
}
@media screen and (min-width: 1281px){
#productsFacetsHorizontal > fieldset {
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width:100% !important;
}
}
@media(max-width:1200px){
div.widget_quick_info_popup > .middle > .content_left_border {
	left:15%;
}
.shopperActions .dropdown_list {
    top: 94% !important;
    right:auto !important;
}
.shopperActions .dropdown_primary {
	margin-top:8px;	
}
}

@media (max-width: 920px) {
.catalogEntryRecommendationWidget > .nextPageButton {
    right: 0%;
}
.ribbon_full_length img{
	display:none;
}
.contentCarouselWidget {
        height: 211px;
    }
li.recommend_block{
    width: 100% !important;
}
div.widget_quick_info_popup > .middle > .content_left_border {
	left:5%;
	top:10%;
}
}
@media (max-width: 767px) {
.catalogEntryRecommendationWidget > .prevPageButton {
    left: 91%;
}
.catalogEntryRecommendationWidget > .nextPageButton {
    right: 0%;
}
.contentCarouselWidget {
    height: 200px;
}
.logo{
	display:none;
}
.recommend_text h3{
    font-size: 1.0em;
}
.recommend_content p{
	font-size: 0.8em;
}
.recommend_content a{
    font-size: 0.9em;
}

.recommend_text h3:before{
	display:none;
}
.contentCarouselWidget .pageControl.dot > a{
	width: 15px;
  	height: 15px;
}
.ribbon_wr >p{
	margin: 0 0 2% 20% !important;
	text-align:left;
}
.float_class{
	margin-bottom:10px;
}
div.widget_quick_info_popup > .middle > .content_left_border {
	left:0%;
	top:10%;
}
.brand_menu li{
    width:15%;
}
}
@media (max-width: 479px) {
.inc_button,.dec_button{
	    padding: 1px 2px;
}
.recommend_content p{
	display:none !important;
}
.contentCarouselWidget {
    height: 160px;
}
.catalogEntryRecommendationWidget > .prevPageButton {
    left: 84%;
}
div.widget_quick_info_popup > .middle > .content_left_border {
	left:0;
	top:10%;
}
div.widget_quick_info_popup > .middle > .content_left_border > .content_right_border > .content > .right_column .close_group {
   	top: -135% !important; 
}
.brand_menu li{
    width:20%;
}
}
@media (min-width: 768px){
.container{
	width:750px;
}
}
@media (min-width: 992px){
.container{
	width:970px;
}
#searchBar{
    width: 26% !important;
}
}
@media (min-width: 1200px){
.container{
	width:1180px;
}
.deals_widget .content>ul>li{
	width: 25% !important;
}
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
.recommend_text h3{
    font-size: 1.1em;
}
.recommend_content p{
	font-size: 0.8em;
}
.recommend_content a{
    font-size: 1.0em;
}
.blog-item iframe {
    height: 162px;
}
}
@media screen and (max-width: 1200px) and (min-width: 991px){
.homeHero{
    min-height:290px !important;
}
.pageControl{
    bottom:10px !important;
}
.departmentButton > span {
    padding: 6px 10px !important;
}
.catalogEntryRecommendationWidget > .nextPageButton {
    top: 0;
    right: 1%;
}
}
@media screen and (max-width: 991px) and (min-width: 920px){
.homeHero{
    min-height:285px !important;
}
.pageControl{
    bottom:20px !important;
}
#departmentsMenu {
    padding: 0 3% !important;
}
.departmentButton > span {
    padding: 6px 10px !important;
}
.catalogEntryRecommendationWidget > .nextPageButton {
    top: 0;
    right: 1%;
}
}
@media only screen and (max-width: 991px) and (min-width: 767px){
.recommend_text h3:before{
	display:none;
}
.recommend_content a{
	font-size: 1em;
}
.blog-item iframe{
	height:125px !important;
}
}
@media only screen and (max-width: 920px) and (min-width: 600px){ 
  #departmentsMenu {
    padding: 0 1% !important;
}
}
@media (max-width: 767px) {
.hidden-xs {
    display: none !important;
}
#widget_minishopcart {
    margin: -12px 0px 0px 0px;
    z-index: 9999;
    background-image: none;
    border: 0 !important;
    vertical-align: top;
}
#quickLinksBar > li > a {
    margin: -15px 0;
}
#departmentsButton {
    margin: 10px 90px 0px 15px;
}
.tab {
    width: 95% !important;
}
.zoomtracker{
	display:none;
}
}
@media (min-width: 600px) and (max-width: 920px) {
.recipe_sub_cat>span:before{
	width:24px !important;
	height:24px !important;
	margin-right: 5px !important;
	font-size: 16px !important;
}
.ingredients_lists>thead>tr>th:nth-child(1), .ingredients_lists>tbody>tr>td:nth-child(1){
	width:20%;
}
.ingredients_lists:before {
    left: 21%;
}
.ingredients_lists:after {
    left: 20.3%;
}
/* .left_espot.centered > a > img{
	height:197px !important;
} */

}
@media (max-width: 600px) {
	a.button.primary:before{
		content:none;
	}
.recipe_head>div>img{
	height:10%;
}
.servings_cnt>input{
	width:9%;
}
.recipe_head{
	box-shadow:none;
}
.ingredients_video{
	padding:0;
	margin-top:1%;
} 
.ingredients_video>iframe{
	width:100%;
	height:150px;
}
.ingredients_lists>thead>tr>th:nth-child(1), .ingredients_lists>tbody>tr>td:nth-child(1){
	width:22%;
}
.ingredients_lists:after {
    left: 22.7%;
}
.ingredients_lists:before {
    left: 22%;
}
.recipe_lists{
	margin:3% auto !important;
	float:none !important;
}
#searchBar {                
  	width: 94% !important;
}

.hidden-small{
	display:none;
}
.nav_foodbanner{
	display:none;
}
.ribbon_center{
	z-index:1 !important;
}
.categoryList{
	border-bottom:none;
}
.brands_nav{
	display:none !important;
}
.homeHero{
    min-height:290px !important;
}
ul.ingredients_lists>li>label{
	font-size: 0.7em;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.hidden-md {
    display: none !important;
}
}
@media (min-width: 1200px) {
.hidden-lg {
    display: none !important;
}

}
@media (max-width: 991px) {
.ribbon_content_left span{
    width:19%;
}
.ribbon_content_left label{
	font-size:0.9em
}
.recommend_block>div>a>img{
	width:100%;
}
}

.plp-image {
	max-height: 200px;
	
}
.product-list__item {
	padding: 15px;
	
}
.facet-label {
    text-transform: capitalize;
    cursor: pointer;
    color: #333;
}
 .facet_list{
     padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
}

.panel-body {
	padding: 0;
}

.facet-panel>div>h4 {
	text-transform: capitalize;
	font-weight: bold;
}