<div>
    <section class="header">
        <div ui-view="header"></div>
    </section>
     <section class="nav">
         <div ui-view="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding clearfix"></div>
     </section>
    <section class="footer">
        <div ui-view="footer"></div>
    </section>
</div>
