<div class="container">
	<div class="row main">
		<div class="main-login main-center">
			<div class="store-result" ng-show="isService()">We have found
				{{responseJSON.length}} stores near "{{searchTerm}}".{{responseJSON.message}}</div>
			<form class="navbar-form" role="search">
				<div class="input-group add-on">
					<input class="form-control "
						placeholder="Enter State Code or Zip Code" name="srch-term"
						id="srch-term" type="text" ng-model="searchTerm">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"
							ng-click="search(searchTerm)">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
				<div class="radio-btn" ng-init="miles=25">
				<span class="lbl-text">Max Distance</span>
					<label class="radio-inline"><input type="radio" ng-model="miles"
						ng-value="25">25</label> <label class="radio-inline"><input
						type="radio" ng-model="miles" ng-value="50">50</label> <label
						class="radio-inline"><input type="radio" ng-model="miles"
						ng-value="100">100</label>
				</div>
			</form>
		</div>

		<div class="scroll-display" ng-if="isSuccess()">
			<table class="table">
				<tbody>
					<tr ng-repeat="data in responseJSON">
						<td><a href="" class="store-list">
								<address>
									<strong>{{$index+1}}. {{data.address2}}</strong> <br>
									{{data.address3}} <br> {{data.city}}, {{data.state}}
									{{data.zipcode}} <br> <abbr title="Phone">Phone :</abbr>
									{{data.phone}}
								</address>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div id="map"></div>
	</div>


</div>
<script type="text/javascript">
	function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom : 4,
			center : new google.maps.LatLng(40.6755, -80.313),
			mapTypeId : google.maps.MapTypeId.ROADMAP
		});
	}
</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClReH0W0ThNLDan9phWWSJFmF_ilBWpEg&callback=initMap">
	
</script>
