body {
    font-family:"Raleway-Regular", Helvetica, Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway.eot);
    src: url(../fonts/Raleway.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway.woff) format('woff'), url(../fonts/Raleway.ttf) format('truetype'), url(../fonts/Raleway.svg#latoregular) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.eot);
    src: url(../fonts/Raleway-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway-Medium.woff) format('woff'), url(../fonts/Raleway-Medium.ttf) format('truetype'), url(../fonts/Raleway-Medium.svg#latobold) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.eot);
    src: url(../fonts/Raleway-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway-Bold.woff) format('woff'), url(../fonts/Raleway-Bold.ttf) format('truetype'), url(../fonts/Raleway-Bold.svg#latobold) format('svg');
    font-weight: 400;
    font-style: normal;
}

.no_padding{
	padding:0;
}
img{
margin:0 auto;	
}
.no_padding_left{
	padding-left:0;
}
.no_padding_right{
	padding-right:0;
}
.mbtm{
	margin-bottom:3%;
}
.navbar{
	margin:0;
}
.logo{
	    padding: 17px;
    color: #cca534 !important;
    text-transform: uppercase;
}
.navbar-toggle .icon-bar{
	background:#333;
}
.head_wrapper{
	background:#f5f5f5;
}
.logo_sec img{
	margin:0 auto;
}
.header_list{
	margin:0;
}
.cart{
	position:relative;
}
.bag{
	position:absolute;
	top: 34%;
    right: -22%;
}
.header_list li{
	display:inline-block;
}
.header_list li a {
	display:block;
	text-transform:uppercase;
	font-size:0.9em;
	color:#333;
	cursor:pointer;
	padding:37px 10px;
}
.header_list li a:hover{
	text-decoration:none;
}
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #333;
    padding: 16px;
    font-size: 1em;
    border: none;
    cursor: pointer;
	text-transform:uppercase;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}
.nav > li,.dropdown {
		position:static;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
	width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	left:0;
}



/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn{
	color:#ddd;
}
.Products_menu{
	padding:20px;
	    border-right: 1px solid rgba(238, 238, 238, 0.58);
}
.Products_menu li{
    border-right: 1px solid #eee;
    padding-right: 0;
	margin-bottom:2%;
}
.Products_menu li a{
    color: #333;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid rgba(238, 238, 238, 0.58);
	cursor:pointer;
	font-weight:700;
	text-align: left;
}
.Products_menu li a:hover{
	text-decoration:none;
	color:#000;
}
.Products_submenu{
	padding-top: 5px;
}
.Products_submenu li a{
    color: #333;
    text-transform: capitalize !important;
    display: block;
    border: 0;
	padding: 5px 0;
	font-weight:400;
	transition: 0.5s ease;
}
.Products_submenu li a:before{
    content: "\f054";
    font-family: FontAwesome;
   left: 0;
    padding-left: 0px;
    position: absolute;
    opacity: 0;
	transition:0.5s ease;
	
}
.Products_submenu li a:hover 
{
	padding-left:5px;
}
.Products_submenu li a:hover::before
{
	opacity:1;
}
.navbar-inverse .navbar-nav > li > a{
	padding:17px;
}
.navbar{
	border-radius:0;
	    background-color: #28292d;
}
.nav{
	text-align:center;
	width:100%;
}
.nav > li {
    display: inline-block;
    text-align: center;
	float:none;
}
.nav > li  a{
	color:#f5f5f5;
	text-transform:uppercase;
	font-size: 1em;
}
.nav > li  a:hover{
	background:transparent;
	text-decoration:none;
}
.carousel-control, .carousel-control:hover {
    background-image: none!important;
}
.carousel-control.left span.fa, .carousel-control.right span.fa {
    background: #333;
}
.carousel-control{
			opacity:1;
}
.carousel-control.left,.carousel-control.right{
	background:none;
}
.carousel-control.right span.fa {
    height: 65px;
    width: 35px;
    right: 0!important;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
       padding: 10px 0;
	   font-size:2em;
    text-align: center;
}
.carousel-control.left span.fa {
    height: 65px;
    width: 35px;
    left: 0!important;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
        padding: 10px 0;
		font-size:2em;
    text-align: center;
}
.carousel-inner img{
	width:100%;
}
.subscription{
	background-image: url("../img/bg1.jpg");
	height:300px;
	/* background-position: -700px 717px; */
	background-size:cover;
	background-attachment:fixed;
	
}
.subscription article{
margin: 7% 0px;
color:#fff;
font-family: Raleway-Bold;
font-weight:700;
text-align:center;
}
.offers_banner{
    background: #fea733;
}
.offers_banner p{
	text-align: center;
    margin: 0;
    padding: 25px 0;
    font-family: Raleway-Bold;
    text-transform: uppercase;
}
.owl-item {
	margin:10px;
}
.owl-item figure{
	overflow:hidden;
}
.owl-item .item{
	    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.26);
    box-shadow: 0 2px 3px rgba(0,0,0,0.26);
	position:relative;

}
.owl-item .item img:hover{
    -ms-transform: scale(3,3);
    -webkit-transform: scale(3,3);
    transform: scale(3,3);
}
.user_icons {
	position:absolute;
	    right: 10px;
    top: 10px;
		transition: 0.5s ease;
			opacity:0;
			z-index:10;
}
.user_icons a{
	    font-size: 1.2em;
		transition: 0.5s ease;
}
.owl-item .item:hover .user_icons{
	opacity:1;
}
.user_icons i{
	padding-left:3px;
}
.fa-heart{
	color:#fea733;
}
.fa-shopping-cart{
	color:#333;
}
.user_icons a:hover{
	font-size: 1.5em;
	cursor:pointer;
}
.Prdt_title{
	background: #fea733;
    padding: 5px;
    font-weight: 700;
    height: 50px;
    /* vertical-align: middle; */
    font-family: Raleway-Medium;
	margin:0;
}
.Prdt_price{
	    display: block;
    background: #333;
    color: #fea733;
    font-weight: 700;
    font-family: Raleway-Bold;
    padding: 10px;
}
.section_title{
	    text-align: center;
    text-transform: uppercase;
    font-family: Raleway-Bold;
}

.footer_section{
	background: #fafafa;
}

.footer_wrapper{
	padding:20px;
}
.border_btm{
    border-bottom: 1px solid rgba(231, 231, 231, 0.23);
}
.social_list li{
	display:inline-block;
	margin-right:20px;
}
.social_list li a{
    height: 34px;
    width: 34px;
    border: 1px solid #333;
    float: left;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background: none;
	font-size:1.3em;
	color:#333;
}
.social_head span{
    text-transform: uppercase;
    font-family: Raleway-Regular;
    padding: 5px 0px;
    display: block;
    /* text-align: center; */
    font-size: 1.5em;
}
.pay_list{
	float:right;
}
.pay_list li{
	display:inline-block;
}
.pay_list li a{
    display: block;
    padding: 0 10px;
}
.footer-column h4{
	text-transform: uppercase;
    font-size: 1.2em;
	    padding: 10px 0;
    margin: 0;
}
.footer_list li a{
	    display: block;
    padding: 10px 0;
    color: #333;
        font-size: 0.8em;
    text-transform: uppercase;
}
.footer_list li a:hover,.privacy_list li a:hover{
	text-decoration:none;
}
.privacy_list{
	text-align:center;
	margin:0;
}
.privacy_list li {
	display:inline-block;
}
.privacy_list li a{
	display:block;
	color:#f5f5f5;
	font-family:Raleway-Bold;
	text-transform:uppercase;
	    padding: 15px;
		    font-size: 0.8em;
}
.privacy_wrapper{
	background:#28292d;
}
.footer_sec2 div{
	    border-right: 1px solid rgba(231, 231, 231, 0.23);
}
.footer_sec2 div:last-child{
	border-right:0;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.search_sec label{
	    color: #f5f5f5;
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 100;
}
.closebtn{
	transition:1s ease;
}
.closebtn:hover{
	transform:rotate(90deg);
}
.search_sec .form-control {
    display: inline-block;
    width: 50%;
    height: 70px;
    border: 0;
    padding: 6px 12px;
    font-size: 3em;
    line-height: 1.42857143;
    color: #fff;
    /* float: left; */
    background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #ccc;
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.subscribe_sec{
	background:#f5f5f5;
}
/* .subscribe_sec figure{
	position:relative;
}
.subscribe_sec figure img{
	    position: absolute;
    top: -40px;
} */
.subs_text{
	padding:50px 20px;
}
.subs_text h3{
	text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-family: Raleway-Bold;
}
.subs_text input{
	    background: transparent;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 0;
    height: 40px;
	margin-top:3%;
}
.subs_text p{
	text-align: center;
    margin-top: 3%;
    text-transform: capitalize;
    font-family: Raleway-Medium;
    font-size: 1em;
}
.cat_list{
	background-image:url("../img/bg1.jpg");
}
.category_sec figure{
	padding:20px;
}
.category_sec h2{
	    margin: 0;
	margin-bottom:2%;
	text-align: center;
    font-family: Raleway-Bold;
    text-transform: uppercase;
    font-size: 1.8em;
    color: #27292d;
	position:relative;
	z-index:10;
}
.category_sec h2:after {
    content: url(../img/heading-space-line.png);
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    text-align: center;
}
.scroll_top{
	position:fixed;
	z-index:999;
	    bottom: 30%;
    right: 10%;
    height: 80px;
    width: 80px;
	display:none;
}
/* media queries */

@media (max-width : 767px){
	.Products_menu li{
    border:0;
	}
	.main_nav li{
		display:block;
	}
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}