/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    font-family:"Raleway-Regular", Helvetica, Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway.eot);
    src: url(../fonts/Raleway.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway.woff) format('woff'), url(../fonts/Raleway.ttf) format('truetype'), url(../fonts/Raleway.svg#latoregular) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.eot);
    src: url(../fonts/Raleway-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway-Medium.woff) format('woff'), url(../fonts/Raleway-Medium.ttf) format('truetype'), url(../fonts/Raleway-Medium.svg#latobold) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.eot);
    src: url(../fonts/Raleway-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway-Bold.woff) format('woff'), url(../fonts/Raleway-Bold.ttf) format('truetype'), url(../fonts/Raleway-Bold.svg#latobold) format('svg');
    font-weight: 400;
    font-style: normal;
}
.no_margin{
	margin:0;
}
.no_padding{
	padding:0;
}
.header{
	background:#f5f5f5;
}
.leftWrapper span  , .rightWrapper ul li a{
	color:#989897;
}
.grid-sizer {
    min-height: 0;
}
.grid-item , .post_list_row{
	margin-bottom:30px;
}
.leftWrapper span {
	display:block;
	padding:10px 0;
	    font-size: 0.9em;
}
.rightWrapper ul li{
	display:inline-block;
	border-right: 1px solid #ededed;
    font-size: 0.9em;	
}

.rightWrapper ul li a{
	display:block;
	padding:10px 10px;
	text-decoration:none;
}
.logo_main a{
	display: block;
    padding: 15px 0;	
}

.main-navigation .navbar {
    border: 0;
    margin-bottom: 0;
    min-height: inherit;
}
.post-article_wrapper{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 0px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    margin-top: 10px;
}
.main-navigation .navbar {
    border-radius: 0;
}
.main-navigation .navbar-inverse {
	background: #363636;
    border-color: transparent;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.main-navigation .navbar-inverse .navbar-toggle{
    border-color: #9bc83c;
}
.nav-outer {
    background: #363636;
    /* border: 1px solid #ccc; */
    float: left;
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.main-navigation .navbar-inverse .navbar-collapse, .main-navigation .navbar-inverse .navbar-form {
    border-color: #ccc;
}

.top-social ul li a, .top-social a.email .fa, .top-social a.email, .register-login ul li a .fa, .register-login ul li a, .number-box .fa, .number-text:before, .number-box span, .number-box strong, #nav li a, #nav li ul, .book-section a.btn-book, .book-section a.btn-book:before, .campers-theme a.btn-style-2, .search-form button, .campers-theme a.btn-style-3, .campers-theme h3 a, .trip-offers-section .text-box a.btn-more, .trip-offers-section .text-box, .trip-offers-section .detail-col strong.price, .activites-box a.title, .activites-box, .campers-theme a.btn-style-3:before, .campers-theme a.btn-style-3:after, .campers-theme a.btn-style-3, .newsletter-section .text-box input[type="submit"], .instagram ul li img, .footer-socila ul li a, .footer-socila ul li a .fa, .footer-section-2 strong.copy a, .footer-section-1 .footer-box ul li a, .footer-section-1 .footer-box ul li a:before, .footer-section-1 .footer-box address .text-box p, .footer-section-1 .footer-box address .text-box strong, .footer-section-1 .footer-box address span, .footer-section-1 .footer-box address span:before, .info-box a, .map-caption .frame img, .facilities-section:before, .gallery-style-1 .frame .caption a.link, .gallery-style-1 .frame .caption, .gallery-style-1 .frame img, .partners-section ul li span, .partners-section ul li em, .error-page .holder a.go-home, .error-page .holder button, .error-page .holder button .fa, .price-plans-section.table-style-2 .round-box, .price-plans-section.table-style-2 .round-box span, .price-plans-section.table-style-2 .table-style-1 strong.amount, .register-page .holder form button, .portfolioFilter a, .pagination-area .pagination>li a, .booking-form input[type="submit"], .add-banner-section .thumb, .about-box-area .box .icon-box, .included-trip .trip-box i, .included-trip .trip-box h3, .team-social-box ul li a, .team-style-2 .team-box .caption, .team-style-2 .team-box .caption h3, .team-style-2 .team-box .caption em, .team-social-box, .team-social-box-2 ul li a, .team-style-1 .box .thumb .caption, .team-style-1 .box .thumb:before, .team-style-1 .box .text-box, .product-page .product-box .frame .caption a.link, .product-page .product-box .frame:before, .product-page .product-box .frame .caption, .product-page .product-box .text-box h3 a, .comment-form input[type="submit"], .button-box-3 input[type="submit"], .blog-post-section .post-box .frame .owl-next, .blog-post-section .post-box .frame .owl-prev, .sidebar-tags li a, .blog-details-tags ul li a, .contact-page form input[type="submit"], .trip-offers-section .thumb .caption, .trip-offers-section .thumb img, .trip-detail-tab-section .nav-tabs>li a, .trip-date-section-body ul li a.btn-book, .event-booking-form input[type="submit"], .trip-events-section.event-section .owl-next:before, .trip-events-section.event-section .owl-prev:before, .add-banner-section .thumb img, .cost-calculator .left-box .text-box strong.cost, .upcoming-box a, .popular-box .text-box a, .facilities-section .facilitie-box .text-box h3, .facilities-section .facilitie-box i, .about-box-area .box h3, .blog-post-section .post-box .frame .caption {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
.top-social a.email .fa, .top-social ul li a:hover, .top-social a.email:hover, .register-login ul li a .fa, .number-box .fa, .register-login ul li a:hover, .number-box:hover span, .number-box:hover strong, #nav li a:hover:before, #nav li a:focus::before, .cart-box-outer .cart-box strong.title a, .cart-box-outer .cart-box .cart-row .text-box strong.amount, .cart-box-outer .cart-box strong.subtotal span, .top-search a.search-icon, #nav li.active a:before, .trip-offers-section .detail-col .fa, .trip-offers-section .text-box h3 a:hover, .activites-box:hover, .blog-post-section .post-box .text-box .post-detail strong .fa, .post-box:hover .text-box h3 a, .facts-box .fa, .footer-section-1 .footer-box address span, .footer-socila ul li a .fa, .footer-socila ul li a:hover, .footer-section-1 .footer-box ul li:hover a:before, .info-box a .fa, .map-caption .text-box .top-row .detail strong .fa, .price-plans-section .table-style-1 span, .price-plans-section .table-style-1 ul li .fa, .error-page .holder h1, .price-plans-section.table-style-2 .round-box span, .price-plans-section.table-style-2 .table-style-1:hover strong.amount, .input-box strong a, .input-box a.forgot, .portfolioFilter a.current, .portfolioFilter a.current, .portfolioFilter a:hover, .portfolioFilter a:focus, .call-action .left-box span a, .facts-figures strong.number, .included-trip .trip-box:hover i, .included-trip .trip-box:hover h3, .team-social-box ul li a:hover, .team-social-box-2 ul li a:hover, .product-page .product-box .frame .caption a.link:hover, .product-page .product-box .text-box strong.amount, .product-rating ul li a, .product-page .product-box:hover .text-box h3 a, .prodect-detail-row .text-box strong.price, .customer-reviews ul li a, .review-row .tex-box a, .popular-box .text-box span .fa, .upcoming-box b .fa, .blog-larg blockquote span, .blog-detail-share ul li a .fa, .trip-offers-section .text-box:hover h3 a, .blog-larg.tips-detail .post-box .text-box em .fa, .event-section .outer-box .text-box b .fa, .event-section .outer-box:hover h3 a, .upcoming-box:hover a, .popular-box li:hover .text-box a, .facilities-section .facilitie-box:hover .text-box h3, .trip-offers-section .box:hover a.btn-more, .blog-post-section .post-box .frame .caption .detail-col .fa, .about-box-area .box:hover h3 {
    color: #d3b046;;
}

.main-navigation .navbar-inverse .navbar-nav>.active>a, .main-navigation .navbar-inverse .navbar-nav>.active>a:hover, .main-navigation .navbar-inverse .navbar-nav>.active>a:focus {
    background: none;
}

 #nav li ul li a:hover, #nav li ul li:hover>a, .main-navigation .navbar-inverse .navbar-toggle,  .activites-box:hover a.title, .cost-calculator .left-box .text-box strong.cost, .post-box:hover a.btn-style-3, .newsletter-section .text-box input[type="submit"]:hover, .header-style-2 .top-search a.search-icon, strong.logo-2, .facilities-section .facilitie-box i, .gallery-style-1 .frame .caption:before, .gallery-style-1 .frame .caption a.link:hover, .error-page .holder button, .error-page .holder a.go-home, .contact-page form input[type="submit"], .table-style-2 .table-style-1:hover .round-box, .register-page .holder form button, .pagination-area .pagination>li>a:hover, .pagination-area .pagination>li>span:hover, .pagination-area .pagination>li>a:focus, .pagination-area .pagination>li>span:focus, .pagination-area .pagination>li.active a, .testimonials-style-3 .owl-page.active, .booking-form input[type="submit"], .about-box-area .box:hover .icon-box, .team-style-2 .team-box:hover .caption, .product-page .product-box:hover .frame:before, .button-box-3 input[type="submit"], .comment-form input[type="submit"], .blog-post-section .post-box .frame .owl-next:hover, .blog-post-section .post-box .frame .owl-prev:hover, .sidebar-tags li a:hover, .blog-details-tags ul li a:hover, .trip-offers-section .thumb .caption:before, .trip-detail-tab-section .nav-tabs>li.active>a, .trip-detail-tab-section .nav-tabs>li.active>a:hover, .trip-detail-tab-section .nav-tabs>li.active>a:focus, .trip-detail-tab-section .nav>li>a:hover, .trip-detail-tab-section .nav>li>a:focus {
	background-color: #1e1e20;
}

#nav {
    float: left;
    list-style: none;
}
#nav li:first-child {
    background: none;
    border: 0;
}
#nav li {
    float: left;
    padding: 0;
    padding: 6px 0;
    border-top: 3px solid #363636;
    position: relative;
	
}
#nav li:hover  > a {
    background: none;
}
#nav li a {
    font: 400 13px/30px 'Raleway-Bold',sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
    z-index: 20;
}

#nav > li.active a:before {
    text-shadow: 7px 0 #d3b046,-7px 0 #d3b046;
}
#nav > li a:hover:before, #nav li a:focus:before {
    text-shadow: 7px 0 #d3b046,-7px 0 #d3b046;
}
#nav > li a:before {
    color: transparent;
    content: "•";
    font-size: 1.2em;
    left: 0px;
    right: 0px;
    width: 10px;
    position: absolute;
    text-shadow: transparent 0px 0px;
    top: 30px;
    transform: translateX(-50%);
    margin: auto;
    transition: text-shadow 0.3s ease 0s, color 0.3s ease 0s;
} 
#nav li a .fa {
    font-size: 12px;
    padding: 0 0 0 6px;
}
#nav li:hover>ul {
    opacity: 1;
    visibility: visible;
    left: 0;
}
#nav li ul {
    position: absolute;
    left: -100%;
    top: 62px;
    width: 195px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    z-index: 10;
}
#nav li a .fa {
    font-size: 12px;
    padding: 0 0 0 6px;
	color: #e41f35;
}
#nav > li:hover{
    border-top: 3px solid #f26529;
}
#nav > li a:hover{
	color: #f26529;
}
.main-navigation .navbar-inverse .navbar-toggle{
	    background: #9bc83c;
}
#nav li ul li {
    float: none;
    width: auto;
    background: none;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 0 0px;
}
#nav li ul li a {
    background: none;
    color: #444;
    text-align: left;
    padding: 7px 10px;
    display: block;
	font-size:12px
}
#nav li ul li a:hover, #nav li ul li:hover>a {
    text-decoration: none;
    color: #d3b046;
}
.carousel-control, .carousel-control:hover {
    background-image: none!important;
}
.carousel-control.left span.fa, .carousel-control.right span.fa {
    background: rgba(0,0,0,0.5);
}
.carousel-control.right span.fa {
    height: 65px;
    width: 35px;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
    right: 0!important;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    padding-top: 20px;
    padding-left: 9px;
    text-align: center;
}
.carousel-control.left span.fa {
    height: 65px;
    width: 35px;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
    left: 0!important;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    padding-top: 20px;
    padding-right: 9px;
    text-align: center;
}
 .form-wrapper {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
		border: 1px solid #efe8e8;
		margin: 20px 0;
    } 
.form-wrapper input {
	width: 75%;
    padding: 10px 5px;
    border: 0;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;  
    }
    
.form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
.form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
.form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
.form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
.form-wrapper button {
	overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 25%;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
.form-wrapper button:hover{		
        background: #e54040;
    }	
      
.form-wrapper button:active,
.form-wrapper button:focus{   
        background: #c42f2f;    
    }
    
.form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
.form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
    
.form-wrapper button:focus:before{
        border-right-color: #c42f2f;
    }    
    
.form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.byline p{
  text-align:center;
  color:#c6c6c6;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#d83c3c;
  text-decoration:none;
}

/* =============================================== latest news header ==================================================*/
.news_header{
	background: #2c2c2c;
    border-bottom: 2px solid #cd2122;
	position:relative;
}
.news_header i{
	float: right;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}
.news_header h2{
	font-size: 1.1em;
    font-weight: 600;
    padding: 12px;
    margin: 0;
	color: #fff;
    background: #CD2122;
    display: inline-block;
}
.post-title{
	margin:0;
}
.margin-top{
	margin-top:1.5%;
}
.news_header:after{
	content: no-close-quote;
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -6px;
    left: 22px;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-top: 6px solid #cd2122;
}
.post-article{
	border-bottom:1px solid #E9E9E9
}
.post-link li a{
/* 	float:right; */
	color:#999
}
.post-content p{
	margin:0;
	padding:10px 0;
	font-size:13px;
}
.post-title a{
	text-transform:capitalize;
	font-weight:500;
	color:#CD2122;
}
/*** Conferrence css ***/
.inputStyle{
	padding: 10px;
    border-radius: 5px;
    text-align: left;
    color: #ccc !important;
}
.inputStyle:hover{
	background:none;
	
}
.dateInput{
	width:100%;
	border:none;
}
.dateInputIcon{
	background: none;
    border: none;
}
.dateInputField,.attendees{
	border:1px solid #ccc;
	 border-radius: 5px;
}
.redIcon{
	color:#f00;
}
.buildingIcon{
	float:right;
	padding: 3px;
}
.userIcon{
    position: absolute;
    right: 6%;
    top: 26%;
    padding: 3px;
	}
.inputStyle:active,.inputStyle:focus{
	background-color: transparent;
    border: 1px solid #ff0000 !important;
	outline:none;
	}
.clockIcon{
	background-color:#fff;
	color:#ff0000;
}
.calInput{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 5px;
	}
.calInput:active,.calInput:focus,.clockpicker:focus,.clockpicker:active{
	border:1px solid #ff0000;
	outline:none;
}
.DateIcon:after {
    content: "\f073";
    font-family: FontAwesome;
    position: absolute;
    right: 0%;
    top: 1%;
    color: #ff0000;
    padding: 6px 8px;
    border-left: 1px solid #ccc;
}
.findRoomBtn{
	
	background-color:#ff0000;
}
/*================== add post area ==================*/
.engage_textarea{
	
}
.post_head h3{
	margin:0;
	display:inline-block;
	    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.post_head{
	padding:10px;
	border-bottom: 2px solid #cd2122;
	background:#e9e9e9;
}
.post_icon{
	display:inline-block;
	float:right;
	font-size:18px;
}
.post_icon i{
	padding:0 2px;
}
textarea.form-control{
	border-radius: 0;
	border:1px solid #e9e9e9;
	border-top:0;
}
.textarea_cnt{
	background:#2c2c2c;
	padding:10px;
}
.post_area{
	position:relative;
	margin:0;
}
.post_area span{
	font-size:12px;
	color:#d5d5d5;
}
.post_area button{
	float: right;
    border-radius: 0;
    background: #cd2122;
    color: #fff;
    padding: 5px 20px;
    font-weight: 600;
	border:0;
}
.post_area:before{
	content: no-close-quote;
    position: absolute;
    width: 0px;
    height: 0px;
    top: -10px;
    right:13%;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 7px solid #cd2122;
}
.communities ul{
	padding:10px 0;
}
.communities ul li a{
	padding:5px 0;
	color:#000;
}
.footer-wrapper{
    background: #363636;
    border-color: transparent;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.footer-links li{
	list-style-type:none;
	display:inline-block;
}
.footer-links{
	text-align:center;
	margin:0;
}
.footer-links li a{
	font: 400 13px/30px 'Raleway-Bold',sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}
.footer-links > li a:hover{
	color: #f26529;
}
.copyrights{
	font: 400 13px/30px 'Raleway-Bold',sans-serif;
    color: #d5d5d5;
	text-align:center;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1.5s linear alternate;
   animation-fill-mode: forwards; 
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
	fill:transparent;
  }
  to {
    stroke-dashoffset: 0;
	fill:#000;
  }
	
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
