	  <!--- Collapse navbar code starts here ------>
	  <nav class="navbar">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			  </button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav main_nav">
				<li><a href="#">Wine</a></li>
				<li><a href="#">Beers</a></li> 
				<li><a href="#">Spirits</a></li>
				<li><a href="#">Accessories</a></li>	
				<li><a href="#">Deals</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
		
				<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 b-carousel clearfix mbtm no_padding">
					<div id="carousel-example-generic_films" class="carousel slide no_padding" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
							<li data-target="#carousel-example-generic_films" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic_films" data-slide-to="1"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
							<div class="item active">
							  <img class="img-responsive" src="img/slide1.jpg" alt="image1">
							</div>
							<div class="item">
							  <img class="img-responsive" src="img/slide2.jpg" alt="...">
							</div>
						  </div>

					  <!-- Controls -->
						  <a class="carousel-control left " href="#carousel-example-generic_films" role="button" data-slide="prev">
							<span class="fa fa-angle-left m-control-left"></span>
						  </a>
						  <a class="carousel-control right" href="#carousel-example-generic_films" role="button" data-slide="next">
							<span class="fa fa-angle-right m-control-right"></span>
						  </a>
					</div>
			</section>
			
			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding  category_sec mbtm">
				<h2> Categories</h2>
				<div class="cat_list col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding">
					<figure class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<a href="#"><img class="img-responsive" src="img/product-1.png" alt="wine"></a>
					</figure>
					<figure class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<a href="#"><img class="img-responsive" src="img/product-2.png" alt="brandy"></a>
					</figure>
					<figure class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
						<a href="#"><img class="img-responsive" src="img/product-3.png" alt="vodka"></a>
					</figure>
					<figure class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
						<a href="#"><img class="img-responsive" src="img/product-4.png" alt="whiskey"></a>
					</figure>
				</div>
			</section>
			
						
			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding block_sec mbtm">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no_padding">
					<figure class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding">
						<a href="#"><img class="img-responsive" src="img/promo-3.jpg" alt="wine"></a>
					</figure>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no_padding">
					<figure class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding">
						<a href="#"><img class="img-responsive" src="img/promo-2.jpg" alt="wine"></a>
					</figure>
				</div>
			</section>
		
		<a href="#" class="scroll_top"><img class="img-responsive" src="img/scrollup.png" alt="skip to main content"></a>
		
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
		<script src="js/vendor/mansory.js"></script>
		<script src="js/vendor/wookmark.js"></script>
		<script src="js/vendor/owl.carousel.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		
        <script src="js/main.js"></script>
		
		<script>
		
		
			$(document).ready(function(){
	
				//Check to see if the window is top if not then display button
				$(window).scroll(function(){
					if ($(this).scrollTop() > 100) {
						$('.scroll_top').fadeIn();
					} else {
						$('.scroll_top').fadeOut();
					}
				});
				
				//Click event to scroll to top
				$('.scroll_top').click(function(){
					$('html, body').animate({scrollTop : 0},800);
					return false;
				});
				
			});
			/* Open when someone clicks on the span element */
				function openNav() {
					document.getElementById("myNav").style.height = "100%";
				}

				/* Close when someone clicks on the "x" symbol inside the overlay */
				function closeNav() {
					document.getElementById("myNav").style.height = "0%";
				}
		
			 var owl = $('.owl-carousel');
			$('.owl-carousel').owlCarousel({
				loop:true,
				margin:10,
				responsiveClass:true,
				responsive:{
					0:{
						items:1,
						nav:true
					},
					600:{
						items:3,
						nav:false
					},
					1000:{
						items:4,
						nav:true,
						loop:false
					}
					
				}
			})
		
		
			   // Custom Navigation Events
				  $(".next").click(function(){
					owl.trigger('owl.next');
				  })
				  $(".prev").click(function(){
					owl.trigger('owl.prev');
				  });
		</script>

